/* フォームの枠 */

.form {
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  min-width: 300px;
  max-width: 500px;
  background-color: #fff;
}

/* Sbumitボタン */

.btn_submit,
.btn_submit_active {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 40px;
  position: relative;
  border: none;
  border-radius: 10px;
  font-size: 1.4rem;
  color: #fff;
  transition: all 0.3s;
}

.btn_submit {
  background-color: #ccc;
}

.btn_submit_active {
  background-color: #68a9cf;
  cursor: pointer;
}

.btn_svg_container {
  display: block;
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  left: 15px;
  color: #fff;
}
.btn_svg_container svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}

/* ボタンのスピナー */

.btn_spinner {
  display: block;
  content: '';
  position: absolute;
  top: 10px;
  right: 28px;
  width: 20px;
  height: 20px;
  color: #fff;
  opacity: 0;
}

.btn_spinner_active {
  display: block;
  content: '';
  position: absolute;
  top: 10px;
  right: 28px;
  width: 20px;
  height: 20px;
  color: #fff;
  opacity: 1;
}

/* テキスト入力 */

.inputTextArea {
  margin: 0;
  padding: 10px;
  width: 100%;
  height: 100px;
  border-radius: 5px;
}

.input_text,
.input_password {
  margin: 0;
  padding: 0 20px 3px 20px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
}

.input_text:focus,
.input_password:focus,
.inputTextArea:focus {
  border: 1px solid #68a9cf;
}

.input_text_validated,
.input_password_checked {
  margin: 0;
  padding: 0 20px 3px 20px;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #68a9cf;
}

.input_error {
  margin: 10px auto 20px auto;
  padding: 0 10px;
  width: 100%;
  min-height: 1.2rem;
  text-align: left;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #cf6775;
}

/* インプット注意事項 */

.input_notes {
  margin: 0 auto 20px auto;
  width: 100%;
  font-size: 1.2rem;
  color: #999;
  text-align: right;
}

.input_notes a {
  text-decoration: underline;
}

/* インプットラベル */

.input_label {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: #666;
  margin: 0 0 20px 0;
}

.input_label:before,
.input_label:after {
  content: '';
  height: 1px;
  flex-grow: 1;
  background-color: #e6e6e6;
}

.input_label:before {
  margin-right: 1rem;
}

.input_label:after {
  margin-left: 1rem;
}

/* ソーシャルログインボタン */

.btn_login_twitter,
.btn_login_line,
.btn_login_google,
.btn_login_yahoo {
  box-sizing: border-box;
  margin: 0 0 30px 0;
  width: 100%;
  padding: 10px 0;
  position: relative;
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  cursor: pointer;
  /* box-shadow: 0s 1px 4px rgb(0 0 0 / 10%); */
}

.btn_login_twitter {
  background-color: #1da1f2;
  color: #fff;
}

.btn_login_line {
  background-color: #06c755;
  color: #fff;
}

.btn_login_google {
  background-color: #eeeeee;
  color: #000;
}
.btn_login_yahoo {
  background-color: #ff0027;
  color: #fff;
}

.btn_login_twitter svg,
.btn_login_line svg,
.btn_login_google svg,
.btn_login_yahoo svg {
  position: absolute;
  width: 24px;
  height: 24px;
  fill: #fff;
  left: 15px;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
}

/* ステップ */

.step_container {
  width: 100%;
  margin: 10px 0 70px 0;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.step_container::before,
.step_container::after {
  content: '';
  width: 6px;
  height: 6px;
  border: 0;
  border-top: solid 3px #68a9cf;
  border-right: solid 3px #68a9cf;
  position: absolute;
  top: 25px;
  left: 32%;
  margin-top: -4px;
  transform: rotate(45deg);
}

.step_container::before {
  left: 32%;
}

.step_container::after {
  right: 32%;
}

.step_off,
.step_on {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  line-height: 50px;
  font-size: 1.6rem;
  color: #fff;
  position: relative;
}

.step_off {
  background-color: #ccc;
}

.step_on {
  background-color: #f2c746;
}

.step_off span,
.step_on span {
  width: 90px;
  font-size: 1.2rem;
  color: #fff;
  position: absolute;
  top: 50px;
  left: -20px;
  color: #666;
}

/* セレクトボックス */

.birth_container {
  position: relative;
  margin: 0 auto 20px auto;
  display: flex;
  justify-content: space-between;
  min-width: 260px;
  width: 70%;
  height: 40px;
  border-radius: 10px;
}

.birth_container :before,
.birth_container :after {
  content: '';
  width: 6px;
  height: 6px;
  border: 0;
  border-top: solid 1px #000;
  border-right: solid 1px #000;
  position: absolute;
  top: 18px;
  margin-top: -4px;
  transform: rotate(135deg);
  transition: all 0.7s;
  z-index: 2;
}

.birth_container :before {
  left: 86px;
}

.birth_container :after {
  right: 16px;
}

.input_select,
.input_select_active {
  margin: 0;
  width: 110px;
  padding: 0 20px 0 10px;
  height: 40px;
  font-size: 14px;
  position: relative;
  background-color: #edf2f7;
  border-radius: 10px;
  letter-spacing: 4px;
  transition: all 0.5s;
}
.input_select:focus,
.input_select_active {
  outline: none;
  background-color: #edf2f7;
  border: 1px solid #edf2f7;
}
.input_select {
  color: #666;
  border: 1px solid #fff;
  background-color: #edf2f7;
}
.input_select_active {
  color: #666;
  border: 1px solid #68a9cf;
  background-color: #fff;
}
