.search {
  width: 100%;
  height: 60px;
  font-size: 1.6rem;
  padding: 15px 0 15px 25px;
  border: 1px solid #999;
  border-radius: 3rem;
  /* background-color: #edf2f7; */
  background-color: #fff;

  transition: all 0.5s;
  margin: 0 0 40px 0;
  -webkit-appearance: none;
}
.search_active {
  width: 100%;
  height: 60px;
  font-size: 1.6rem;
  padding: 15px 0 15px 25px;
  border: 1px solid #68a9cf;
  border-radius: 3rem;
  background-color: #fff;
  transition: all 0.5s;
  margin: 0 0 40px 0;
  -webkit-appearance: none;
}

.search:focus {
  border: 1px solid #68a9cf;
}

.search_container {
  width: 80%;
  min-width: 300px;
  max-width: 400px;
  height: 60px;
  position: relative;
  border: 0;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
}

.search_button,
.search_button_active {
  position: absolute;
  width: 40px;
  height: 40px;
  /* top: 12px; */
  right: 12px;
  top: calc(50% - 20px);
}

.search_button:before,
.search_button_active:before {
  content: '';
  position: absolute;
  top: 6px;
  left: 8px;
  cursor: pointer;
  display: inline-block;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 14px;
  border-radius: 50%;
  transition: all 0.7s;
}

.search_button:after,
.search_button_active:after {
  content: '';
  position: absolute;
  width: 2px;
  height: 10px;
  top: 27px;
  left: 29px;
  border-radius: 10px;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: all 0.7s;
  cursor: pointer;
  background-color: #999;
}

.search_button:before {
  border: solid 2px #999;
}
.search_button:after {
  background-color: #999;
}
.search_button_active:before {
  border: solid 2px #68a9cf;
}
.search_button_active:after {
  background-color: #68a9cf;
}

.search_button svg,
.search_button_active svg {
  width: 30px;
  height: 30px;
  transition: all 0.3s;
}

.search_button svg {
  fill: #999;
}

.search_button_active svg {
  fill: #68a9cf;
  cursor: pointer;
}
.search_result,
.search_result_active {
  margin: 0;
  padding: 0;
  position: absolute;
  min-width: 300px;
  width: 100%;
  top: 80px;
  background-color: #fff;
  text-align: left;
  font-size: 1.2rem;
  /* -webkit-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 8%);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 8%); */
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 10px;
  overflow: hidden;
  z-index: 100;
  display: block;
}

.search_result {
  height: 0;
}

.search_result_active_li {
  display: block;
  margin: 0;
  width: 100%;
  padding: 10px 15px 10px 15px;
  border-top: 1px solid #eaeaea;
  border-right: 0px;
  border-bottom: 0px;
  border-left: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.search_result_active_li_top {
  display: block;
  margin: 0;
  width: 100%;
  padding: 10px 15px 10px 15px;
  border: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
