.content_title {
  margin: 30px 0 55px 0;
  font-size: 5rem;
  font-weight: normal;
  font-family: 'D-DINCondensed', sans-serif;
  position: relative;
  text-align: center;
}

.content_title span:before {
  position: absolute;
  bottom: -20px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-radius: 3px;
  background: #68a9cf;
}
