.box_nomal {
  margin: 0 auto;
  min-width: 320px;
  max-width: 840px;
}

.box_grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  min-width: 320px;
  max-width: 840px;
  z-index: -1;
}

.box_line_text {
  margin: 50px 0 30px 0;
  width: 100%;
  font-size: 1.6rem;
  line-height: 3.2rem;
  padding: 20px;
  border: 1px #ccc solid;
  border-radius: 10px;
}

@media screen and (max-width: 839px) {
  .box_grid {
    justify-content: center;
  }
}
@media screen and (min-width: 840px) {
  .box_grid {
    justify-content: space-between;
  }
}

.content_title {
  margin: 0 0 80px 0;
  font-size: 5rem;
  font-weight: normal;
  font-family: 'FuturaPTMedium', sans-serif;
  position: relative;
  text-align: center;
}

.content_title span:before {
  position: absolute;
  bottom: -20px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-radius: 3px;
  background: #68a9cf;
}

.box_gray {
  margin: 0;
  width: 100%;
  padding: 60px 0 60px 0;
  position: relative;
  background: #f1f1f1;
}

.btn_Link {
  margin: 0 0 20px 0;
  width: 200px;
  border-radius: 30px;
  border: 0px;
  color: #fff;
  font-size: 2.4rem;
  transition: all 0.3s;
  position: relative;
  font-family: 'FuturaPTMedium', sans-serif;
  letter-spacing: 2px;
  padding: 15px 0 15px 0;
  text-align: center;
  background-color: #f2c746;
  cursor: pointer;
}
