.main {
  max-width: 800px;
  min-width: 320px;
  margin: 40px auto;
  padding: 10px 0;
  background-color: #fff;
}

.content_title {
  margin: 0 0 60px 0;
  font-size: 24px;
  position: relative;
  text-align: center;
}

.content_title span:before {
  position: absolute;
  bottom: -20px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-radius: 3px;
  background: #68a9cf;
}

.card {
  margin: 0 10px;
  padding: 5px 0;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  min-width: 300px;
  max-width: 850px;
  background-color: #fff;
  transition: all 0.3s;
}

.contact_text_container {
  margin: 20px 0 30px 0;
}
