.footer_container {
  width: 100%;
  margin: 0;
  border-top: 1px solid #eaeaea;
  /* background-color: #c8e5f6; */
}

.footer_nav {
  width: 100%;
  max-width: 850px;
  margin: 30px auto;
  position: relative;
  font-size: 2rem;
  font-family: 'FuturaPTMedium', sans-serif;
}

.copyright {
  font-size: 1.6rem;
  font-family: 'FuturaPTMedium', sans-serif;
  margin: 0 0 30px 0;
}

.footer_twitter {
  margin: 30px auto 20px auto;
  width: 200px;
  font-size: 2rem;
  font-family: 'FuturaPTMedium', sans-serif;
  color: #1da1f2;
  position: relative;
  display: flex;
  flex-flow: column;
}

.footer_twitter span:before {
  content: '';
  position: absolute;
  width: 3px;
  height: 30px;
  top: 20px;
  left: 20px;
  border-radius: 10px;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: all 0.7s;
  cursor: pointer;
  background-color: #1da1f2;
}

.footer_twitter span:after {
  content: '';
  position: absolute;
  width: 3px;
  height: 30px;
  top: 20px;
  right: 20px;
  border-radius: 10px;
  transform: translate(-50%, -50%) rotate(-135deg);
  transition: all 0.7s;
  cursor: pointer;
  background-color: #1da1f2;
}

.footter_twitter_icon svg {
  margin: 10px 0 0 0;
  width: 40px;
  height: 40px;
  fill: #1da1f2;
}
