.footer_container {
  width: 100%;
  margin: 0;
  border-top: 1px solid #eaeaea;
  /* background-color: #c8e5f6; */
}

.footer {
  width: 100%;
  max-width: 850px;
  margin: 30px auto;
  position: relative;
  font-size: 1.2rem;
}
