html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* background-color: #faf9f7; */
  background-color: #fff;
  text-align: center;
  font-size: 62.5%;
  min-width: 320px;
  color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::placeholder {
  color: #999;
}

input:focus {
  outline: none;
  background-color: #fff;
  border: 3px solid #bfdcff;
  transition: all 0.5s;
}

input,
select {
  -webkit-appearance: none;
  appearance: none;
  border: 3px solid #fff;
  background-color: #edf2f7;
  transition: all 0.5s;
}
