html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  /* background-color: #faf9f7; */
  background-color: #fff;
  text-align: center;
  font-size: 62.5%;
  min-width: 320px;
  color: #000;
}
@font-face {
  font-family: 'FuturaPTMedium';
  src: url('/fonts/FuturaPTMedium.otf');
}
@font-face {
  font-family: 'D-DINCondensed';
  src: url('/fonts/D-DINCondensed.woff2');
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::placeholder {
  font-size: 1.4rem;
  color: #999;
}

input:focus,
textarea:focus {
  outline: none;
  background-color: #fff;
  /* border: 1px solid #68a9cf; */
  transition: all 0.5s;
}

input,
select,
textarea {
  font-size: 1.4rem;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #edf2f7;
  background-color: #edf2f7;
  transition: all 0.5s;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  box-shadow: 0 0 0 1000px #fff inset;
  -webkit-box-shadow: 0 0 0px 1000px inset inset;
}

li {
  list-style: none;
}
