.main {
  max-width: 800px;
  min-width: 320px;
  margin: 40px auto;
  padding: 10px 0;
}
.sticky_container {
  width: 100%;
}
.wrapper_white {
  width: 100%;
}
.wrapper_glay {
  width: 100%;
  background-color: #f1f1f1;
  /* background-color: #faf9f7; */
  padding: 0 0 60px 0;
}

.total_bar_container {
  width: 100%;
  height: 40px;
  padding: 0;
  background-color: #000;
  position: sticky;
  top: 0;
  z-index: 1;
  opacity: 0.7;
}

.total_bar_container_fixed {
  width: 100%;
  height: 40px;
  padding: 0;
  background-color: #000;
  position: fixed;
  top: 0;
  z-index: 1;
  opacity: 0.7;
}

.total_bar {
  max-width: 800px;
  min-width: 320px;
  height: 40px;
  padding: 0 10px;
  margin: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: right;
  align-items: center;
  transition: all 0.3s;
}

.reset {
  min-width: 65px;
  padding: 0 10px;
  font-size: 12px;
  color: #ffd700;
  line-height: 40px;
  position: relative;
  text-align: right;
  cursor: pointer;
  transition: all 0.3s;
}

.reset span {
  display: block;
  content: '';
  position: absolute;
  top: 5px;
  left: -10px;
  width: 20px;
  height: 20px;
}
.reset svg {
  width: 20px;
  height: 20px;
  fill: #ffd700;
  transition: all 0.3s;
}

.reset_off {
  min-width: 65px;
  padding: 0 10px;
  font-size: 12px;
  color: #999;
  line-height: 40px;
  position: relative;
  text-align: right;
  cursor: pointer;
  transition: all 0.3s;
}

.reset_off span {
  display: block;
  content: '';
  position: absolute;
  top: 5px;
  left: -10px;
  width: 20px;
  height: 20px;
}

.reset_off svg {
  width: 20px;
  height: 20px;
  fill: #999;
  transition: all 0.3s;
}

.save {
  min-width: 65px;
  font-size: 12px;
  color: #ffd700;
  line-height: 40px;
  position: relative;
  text-align: right;
  cursor: pointer;
  padding: 0 10px 0 0;
}

.save span {
  display: block;
  content: '';
  position: absolute;
  top: 5px;
  left: 10px;
  width: 20px;
  height: 20px;
}
.save svg {
  width: 20px;
  height: 20px;
  fill: #ffd700;
}

.save_off {
  min-width: 65px;
  font-size: 12px;
  color: #999;
  line-height: 40px;
  position: relative;
  text-align: right;
  cursor: pointer;
  padding: 0 10px 0 0;
}

.save_off span {
  display: block;
  content: '';
  position: absolute;
  top: 5px;
  left: 10px;
  width: 20px;
  height: 20px;
}
.save_off svg {
  width: 20px;
  height: 20px;
  fill: #999;
}

.total_count {
  width: 40px;
  font-size: 12px;
  color: #fff;
  line-height: 40px;
  text-align: right;
}
.total {
  width: 110px;
  line-height: 40px;
  margin: 0;
  text-align: right;
  font-size: 20px;
  color: #fff;
  font-family: sans-serif;
}

.event_title_container {
  width: 100%;
  margin: 10px 0 10px 0;
  padding: 0 20px;
  text-align: left;
}

/* .h1 {
  font-size: 21px;
} */
.h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: normal;
}

.contant_name_container {
  margin: 10px 0 0 0;
  padding: 0 20px;
  text-align: left;
}

.content_name {
  margin: 0;
  font-size: 1.5rem;
}

.event_date_container {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 20px;
  margin: 0 20px 20px 20px;
}
.event_date_container svg {
  width: 20px;
  height: 20px;
  fill: #68a9cf;
  cursor: pointer;
}
.event_date {
  margin: 0 20px 0 0;
  padding: 0px;
  text-align: left;
  font-size: 1.4rem;
  color: #666;
}

.goods_list_ul {
  margin: 20px 0 0 0;
  padding: 0;
  width: 100%;
}

.goods_list_li {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  max-width: 100%;
  transition: all 0.5s;
  border-top: 1px #ccc solid;
  max-height: 2000px;
}

.goods_list_li_active {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  max-width: 100%;
  transition: all 0.5s;
  border-top: 1px #ccc solid;
  /* max-height: 80px;
  overflow: hidden; */
}

.goods_items_container {
  margin: 0;
  transition: all 0.5s;
  max-height: 2000px;
  overflow: hidden;
}

.goods_items_container_active {
  margin: 0;
  max-height: 0;
  transition: all 0.5s;
  overflow: hidden;
}

.goodslisthead {
  list-style: none;
  line-height: 20px;
  padding: 10px 10px;
  background-color: #fff;
  border-top: 1px solid #ccc;
  margin: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: right;
  justify-content: right;
  -webkit-align-items: right;
  align-items: right;
}
.goodscontainer {
  border-bottom: 1px solid #ccc;
}

.goods_name {
  width: 100%;
  text-align: left;
  font-size: 1.6rem;
  padding: 10px 0;
  line-height: 20px;
}
.subtotalcontainer {
  text-align: right;
  width: 100%;
  margin: 0;
  height: 40px;
  padding: 0;
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.group_arrow_open,
.group_arrow_close {
  width: 40px;
  height: 40px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.group_arrow_open::before {
  content: '';
  width: 10px;
  height: 10px;
  border: 0;
  border-top: solid 2px #68a9cf;
  border-right: solid 2px #68a9cf;
  position: absolute;
  top: 22px;
  left: 5px;
  margin-top: -4px;
  transform: rotate(-45deg);
  transition: all 0.7s;
}

.group_arrow_close::before {
  content: '';
  width: 10px;
  height: 10px;
  border: 0;
  border-top: solid 2px #68a9cf;
  border-right: solid 2px #68a9cf;
  position: absolute;
  top: 15px;
  left: 5px;
  margin-top: -4px;
  transform: rotate(135deg);
  transition: all 0.7s;
}

.subtotalwrap {
  margin: 0;
  min-width: 240px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.subtotalcount {
  height: 40px;
  font-size: 14px;
  color: #666;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.subtotal {
  height: 40px;
  min-width: 120px;
  margin-left: 10px;
  margin-right: 0;
  font-size: 18px;
  font-family: sans-serif;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  align-items: center;
}

.goods_detail_container {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  transition: all 0.3s;
}

.goods_type_container {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  font-size: 1.2rem;
  text-align: right;
  min-width: 20px;
  margin: 0 10px 0 0;
  line-height: 20px;
}

.goods_price_container {
  display: flex;
  justify-content: right;
  align-items: center;
  font-family: sans-serif;
  text-align: right;
  margin: 0 10px 0 0;
  white-space: nowrap;
  font-size: 1.4rem;
}

.plus_minus_container {
  width: 90px;
  min-width: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plusButtonOn {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 42px;
  cursor: pointer;
  background-color: #68a9cf;
  top: 0;
  margin-left: 10px;
  position: relative;
  border: 0;
  transition: all 0.3s;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.plusButtonOn span::before,
.plusButtonOn span::after {
  display: block;
  content: '';
  position: absolute;
  top: 19px;
  left: 12px;
  width: 40%;
  height: 3px;
  margin: 0;
  background: #fff;
  transition: all 0.3s;
}

.plusButtonOn span::after {
  transform: rotate(90deg);
}

.plusButtonOff {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 42px;
  background-color: #ccc;
  top: 0;
  margin-left: 10px;
  position: relative;
  border: 0;
  transition: all 0.3s;
  outline: none;
}

.plusButtonOff span::before,
.plusButtonOff span::after {
  display: block;
  content: '';
  position: absolute;
  top: 19px;
  left: 12px;
  width: 40%;
  height: 3px;
  margin: 0;
  background: #fff;
  transition: all 0.3s;
}

.plusButtonOff span::after {
  transform: rotate(90deg);
}
/* #A6C78E #68a9cf */

.minusButtonOn {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 42px;
  cursor: pointer;
  background-color: #cf6775;
  top: 0;
  margin: 0;
  position: relative;
  border: 0;
  transition: all 0.3s;
  outline: none;
}

.minusButtonOn span::before,
.minusButtonOn span::after {
  display: block;
  content: '';
  position: absolute;
  top: 19px;
  left: 12px;
  width: 40%;
  height: 3px;
  margin: 0;
  background: #fff;
  transition: all 0.3s;
}

.minusButtonOff {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 42px;
  background-color: #ccc;
  top: 0;
  margin: 0;
  position: relative;
  border: 0;
  transition: all 0.3s;
  outline: none;
}

.minusButtonOff span::before,
.minusButtonOff span::after {
  display: block;
  content: '';
  position: absolute;
  top: 19px;
  left: 12px;
  width: 40%;
  height: 3px;
  margin: 0;
  background: #fff;
  transition: all 0.3s;
}

.list_header_container {
  width: 100%;
  padding: 15px 20px 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  white-space: nowrap;
}

.list_header_status {
  display: flex;
  justify-content: left;
  align-items: center;
}

.tag_status {
  margin: 0 20px 0 0;
  height: 30px;
  line-height: 28px;
  padding: 0 10px 0 10px;
  color: #666;
  font-size: 1.2rem;
  text-align: right;
  position: relative;
  border-radius: 5px;
  border: 1px solid #999;
}

.tag_create {
  margin: 0 20px 0 0;
  height: 30px;
  line-height: 30px;
  padding: 0;
  color: #666;
  font-size: 1.2rem;
  text-align: right;
  position: relative;
  border-radius: 5px;
  text-decoration: underline;
  cursor: pointer;
}

.tag_new span {
  display: block;
  content: '';
  position: absolute;
  top: 3px;
  left: 4px;
  width: 20px;
  height: 20px;
  color: #fff;
}
.tag_new svg {
  width: 16px;
  height: 16px;
  fill: #666;
}

.event_link_container {
  width: 100%;
  padding: 15px 20px 20px 20px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: sans-serif;
  white-space: nowrap;
}

.tag_official {
  margin: 0 20px 0 0;
  height: 30px;
  line-height: 30px;
  padding: 0 10px 0 30px;
  color: #fff;
  background-color: red;
  font-size: 1.2rem;
  text-align: right;
  position: relative;
  border-radius: 5px;
}

.tag_official span {
  display: block;
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 20px;
  color: #fff;
}
.tag_official svg {
  width: 16px;
  height: 16px;
  fill: #fff;
}

.tag_twitter {
  margin: 0 20px 0 0;
  height: 30px;
  line-height: 30px;
  padding: 0 10px 0 30px;
  color: #fff;
  font-size: 1.2rem;
  text-align: right;
  position: relative;
  border-radius: 5px;
  background-color: #55acee;
}

.tag_twitter span {
  display: block;
  content: '';
  position: absolute;
  top: 3px;
  left: 4px;
  width: 20px;
  height: 20px;
  color: #fff;
}
.tag_twitter svg {
  width: 16px;
  height: 16px;
  fill: #fff;
}

.tag_line {
  margin: 0;
  height: 30px;
  line-height: 30px;
  padding: 0 10px 0 30px;
  color: #fff;
  font-size: 1.2rem;
  text-align: right;
  position: relative;
  border-radius: 5px;
  background-color: #06c755;
}

.tag_line span {
  display: block;
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  color: #fff;
}
.tag_line svg {
  width: 16px;
  height: 16px;
  fill: #fff;
}

.scroll_button {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background-color: #000;
  position: fixed;
  bottom: 30px;
  left: 30px;
  opacity: 0.7;
  transition: all 0.3s;
  visibility: visible;
  cursor: pointer;
}

.scroll_button_hidden {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background-color: #000;
  position: fixed;
  bottom: 30px;
  left: 30px;
  opacity: 0.7;
  transition: all 0.3s;
  visibility: hidden;
  visibility: visible;
}

.sort_container {
  margin: 40px auto 50px auto;
  text-align: center;
  font-size: 1.6rem;
  border-radius: 30px;
}

.sort_nomal,
.sort_nomal_active {
  padding: 10px 30px;
  border-radius: 30px;
  transition: all 0.3s;
}

.sort_nomal {
  color: #999;
  background-color: #fff;
  cursor: pointer;
}

.sort_nomal_active {
  color: #fff;
  background-color: #f2c746;
}

.sort_buy,
.sort_buy_active {
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.5s;
}

.sort_buy {
  color: #999;
  background-color: #fff;
}

.sort_buy_active {
  color: #fff;
  background-color: #f2c746;
}

.ul_event {
  display: grid;
  grid-template-columns: 100%;
  margin: 0;
  padding: 0;
  line-height: 0;
  -webkit-column-count: 1;
  -webkit-column-gap: 20px;
  -moz-column-count: 1;
  -moz-column-gap: 20px;
  column-count: 1;
  column-gap: 20px;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.grid {
  flex-wrap: wrap;
  min-width: 320px;
  max-width: 100%;
  margin: 0;
  padding: 0 10px;
}
.card2 {
  margin: 0 0 20px 0;
  padding: 10px 20px;
  text-align: left;
  color: inherit;
  text-decoration: none;
  /* border: 1px solid #eaeaea; */
  /* border-radius: 5px; */
  width: 100% !important;
  height: auto !important;
  background-color: #fff;
  transition: all 0.3s;
  font-size: 1.4rem;
  position: relative;
  box-shadow: 0 1px 4px rgb(0 0 0 / 10%);
}

.li_goods_line {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid #eaeaea;
  width: 100%;
  margin: 10px 0;
}

.MuiInput-underline:after {
  border-bottom: 0px;
}
