.total_bar_container {
  width: 100%;
  height: 40px;
  padding: 0;
  border: 0 0 1px 0 solid #ebe8e4;
  box-shadow: 0 0 0.3125rem 0 rgb(20 12 0 / 6%);
  position: fixed;
  top: 60px;
  background-color: #333;
  z-index: 1;
}

.total_bar {
  max-width: 800px;
  min-width: 320px;
  height: 40px;
  padding: 0 20px;
  margin: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: right;
  align-items: center;
  transition: all 0.3s;
}

.reset {
  min-width: 65px;
  padding: 0 10px;
  font-size: 12px;
  color: #fff;
  line-height: 40px;
  position: relative;
  text-align: right;
  cursor: pointer;
}

.reset span {
  display: block;
  content: '';
  position: absolute;
  top: 5px;
  left: -10px;
  width: 20px;
  height: 20px;
  color: #fff;
}
.reset svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}
.save {
  min-width: 65px;
  font-size: 12px;
  color: #fff;
  line-height: 40px;
  position: relative;
  text-align: right;
  cursor: pointer;
  padding: 0 10px 0 0;
}

.save span {
  display: block;
  content: '';
  position: absolute;
  top: 5px;
  left: 10px;
  width: 20px;
  height: 20px;
  color: #fff;
}
.save svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}
.total_count {
  width: 40px;
  font-size: 12px;
  color: #fff;
  line-height: 40px;
  text-align: right;
}
.total {
  width: 110px;
  line-height: 40px;
  margin: 0;
  text-align: right;
  font-size: 20px;
  color: #fff;
  font-family: sans-serif;
}

.main_container {
  width: 100%;
  margin: 160px 0 40px 0;
  text-align: center;
}

.main {
  max-width: 800px;
  min-width: 320px;
  margin: auto;
  padding: 10px 0;
  background-color: #fff;
}

.event_title_container {
  width: 100%;
  margin: 10px 0 10px 0;
  padding: 0 20px;
  text-align: left;
}

/* .h1 {
  font-size: 21px;
} */
.h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: normal;
}

.contant_name_container {
  margin: 0;
  padding: 0 20px;
  text-align: left;
}

.content_name {
  margin: 0;
  font-size: 1.5rem;
}

.event_menu_container {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 20px;
  margin: 0 20px;
}
.event_menu_container svg {
  width: 20px;
  height: 20px;
  fill: #68a9cf;
  cursor: pointer;
}
.event_date {
  margin: 0 20px 0 0;
  padding: 0px;
  text-align: left;
  font-size: 1.4rem;
  color: #666;
}

.goodslistul {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 800px;
}
.goodslist {
  list-style: none;
  line-height: 20px;
  padding: 10px 10px;
  margin: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: right;
  justify-content: right;
  -webkit-align-items: right;
  align-items: center;
  transition: all 0.3s;
}
.goodslist_hidden {
  list-style: none;
  line-height: 20px;
  padding: 10px 10px;
  margin: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: right;
  justify-content: right;
  -webkit-align-items: right;
  align-items: center;
  transition: all 0.3s;
  background-color: red;
  top: 0;
}
.goodslisthead {
  list-style: none;
  line-height: 20px;
  padding: 10px 10px;
  background-color: #fff;
  border-top: 1px solid #ccc;
  margin: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: right;
  justify-content: right;
  -webkit-align-items: right;
  align-items: right;
}
.goodscontainer {
  border-bottom: 1px solid #ccc;
}

.goodsname {
  width: 100%;
  text-align: left;
  font-size: 1.4rem;
}
.subtotalcontainer {
  text-align: right;
  width: 100%;
}
.subtotalcount {
  font-size: 14px;
  color: #666;
}
.subtotal {
  width: 300px;
  margin-left: 10px;
  margin-right: 0;
  font-size: 18px;
  font-family: sans-serif;
}

.goods_detail_container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.goods_type_container {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  font-size: 1.4rem;
  text-align: right;
  min-width: 20px;
  margin: 0 10px 0 10px;
}

.goods_price_container {
  display: flex;
  justify-content: right;
  align-items: center;
  font-family: sans-serif;
  text-align: right;
  margin: 0 10px 0 0;
  white-space: nowrap;
  font-size: 1.4rem;
}

.plus_minus_container {
  width: 90px;
  min-width: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plusButtonOn {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 42px;
  cursor: pointer;
  background-color: #68a9cf;
  top: 0;
  margin-left: 10px;
  position: relative;
  border: 0;
  transition: all 0.3s;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.plusButtonOn span::before,
.plusButtonOn span::after {
  display: block;
  content: '';
  position: absolute;
  top: 19px;
  left: 12px;
  width: 40%;
  height: 3px;
  margin: 0;
  background: #fff;
  transition: all 0.3s;
}

.plusButtonOn span::after {
  transform: rotate(90deg);
}

.plusButtonOff {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 42px;
  background-color: #ccc;
  top: 0;
  margin-left: 10px;
  position: relative;
  border: 0;
  transition: all 0.3s;
  outline: none;
}

.plusButtonOff span::before,
.plusButtonOff span::after {
  display: block;
  content: '';
  position: absolute;
  top: 19px;
  left: 12px;
  width: 40%;
  height: 3px;
  margin: 0;
  background: #fff;
  transition: all 0.3s;
}

.plusButtonOff span::after {
  transform: rotate(90deg);
}
/* #A6C78E #68a9cf */

.minusButtonOn {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 42px;
  cursor: pointer;
  background-color: rgb(209, 104, 104);
  top: 0;
  margin: 0;
  position: relative;
  border: 0;
  transition: all 0.3s;
  outline: none;
}

.minusButtonOn span::before,
.minusButtonOn span::after {
  display: block;
  content: '';
  position: absolute;
  top: 19px;
  left: 12px;
  width: 40%;
  height: 3px;
  margin: 0;
  background: #fff;
  transition: all 0.3s;
}

.minusButtonOff {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 42px;
  background-color: #ccc;
  top: 0;
  margin: 0;
  position: relative;
  border: 0;
  transition: all 0.3s;
  outline: none;
}

.minusButtonOff span::before,
.minusButtonOff span::after {
  display: block;
  content: '';
  position: absolute;
  top: 19px;
  left: 12px;
  width: 40%;
  height: 3px;
  margin: 0;
  background: #fff;
  transition: all 0.3s;
}
.event_link_container {
  width: 100%;
  padding: 20px;
  height: 70px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: sans-serif;
  white-space: nowrap;
}

.tag_official {
  margin: 0 10px 0 0;
  height: 30px;
  line-height: 30px;
  padding: 0 14px 0 34px;
  color: #fff;
  background-color: red;
  font-size: 1.4rem;
  text-align: right;
  position: relative;
  border-radius: 5px;
}

.tag_official span {
  display: block;
  content: '';
  position: absolute;
  top: 4px;
  left: 10px;
  width: 20px;
  height: 20px;
  color: #fff;
}
.tag_official svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.tag_twitter {
  margin: 0 10px 0 0;
  height: 30px;
  line-height: 30px;
  padding: 0 14px 0 38px;
  color: #fff;
  font-size: 1.4rem;
  text-align: right;
  position: relative;
  border-radius: 5px;
  background-color: #55acee;
}

.tag_twitter span {
  display: block;
  content: '';
  position: absolute;
  top: 4px;
  left: 10px;
  width: 20px;
  height: 20px;
  color: #fff;
}
.tag_twitter svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.tag_line {
  margin: 0;
  height: 30px;
  line-height: 30px;
  padding: 0 14px 0 38px;
  color: #fff;
  font-size: 1.4rem;
  text-align: right;
  position: relative;
  border-radius: 5px;
  background-color: #1dcd00;
}

.tag_line span {
  display: block;
  content: '';
  position: absolute;
  top: 4px;
  left: 10px;
  width: 20px;
  height: 20px;
  color: #fff;
}
.tag_line svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}
