.main {
  max-width: 800px;
  min-width: 320px;
  margin: 20px auto;
}
.sticky_container {
  width: 100%;
}
.wrapper_white {
  margin: 0;
  width: 100%;
  /* background: url('/images/background9.png');
  background-repeat: repeat;
  background-position: 50% 0%;
  background-size: 450px 900px; */
  padding: 30px 0 60px 0;
  position: relative;
}
/* .wrapper_white::after {
  content: '';
  position: absolute;
  background: linear-gradient(45deg, #f1f1f1 50%, transparent 50%),
    linear-gradient(315deg, #f1f1f1 50%, transparent 50%);
  background-size: 20px 20px;
  height: 14px;
  width: 100%;
  left: 0;
  bottom: 0;
} */
.wrapper_glay {
  width: 100%;
  background-color: #f1f1f1;
  /* background-color: #fff; */
  /* background-color: #faf9f7; */
  padding: 60px 0 60px 0;
}

.total_bar_container {
  width: 100%;
  height: 40px;
  padding: 0;
  background-color: #000;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  opacity: 0.7;
}

.total_bar_container_fixed {
  width: 100%;
  height: 40px;
  padding: 0;
  background-color: #000;
  position: fixed;
  top: 0;
  z-index: 1;
  opacity: 0.7;
}
@media screen and (max-width: 399px) {
  .total_bar {
    width: 100%;
    min-width: 320px;
    height: 40px;
    padding: 0 20px;
    margin: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    transition: all 0.3s;
  }
}
@media screen and (min-width: 400px) {
  .total_bar {
    max-width: 800px;
    min-width: 400px;
    height: 40px;
    margin: 0;
    padding: 0 20px;
    margin: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    align-items: center;
    transition: all 0.3s;
  }
}

.reset {
  min-width: 65px;
  padding: 0 10px;
  font-size: 12px;
  color: #ffd700;
  line-height: 40px;
  position: relative;
  text-align: right;
  cursor: pointer;
  transition: all 0.3s;
}

.reset span {
  display: block;
  content: '';
  position: absolute;
  top: 5px;
  left: -10px;
  width: 20px;
  height: 20px;
}
.reset svg {
  width: 20px;
  height: 20px;
  fill: #ffd700;
  transition: all 0.3s;
}

.reset_off {
  min-width: 65px;
  padding: 0 10px;
  font-size: 12px;
  color: #999;
  line-height: 40px;
  position: relative;
  text-align: right;
  cursor: pointer;
  transition: all 0.3s;
}

.reset_off span {
  display: block;
  content: '';
  position: absolute;
  top: 5px;
  left: -10px;
  width: 20px;
  height: 20px;
}

.reset_off svg {
  width: 20px;
  height: 20px;
  fill: #999;
  transition: all 0.3s;
}

.save {
  width: auto;
  padding: 5px 10px 5px 30px;
  font-size: 1.2rem;
  color: #ffd700;
  position: relative;
  text-align: right;
  cursor: pointer;
  border: 1px solid #ffd700;
  box-sizing: border-box;
  border-radius: 5px;
  transition: all 0.3s;
}

.save_off {
  width: auto;
  padding: 5px 10px 5px 30px;
  font-size: 1.2rem;
  color: #999;
  position: relative;
  text-align: right;
  border: 1px solid #000;
  box-sizing: border-box;
  border-radius: 5px;
  transition: all 0.3s;
}

.save svg,
.save_off svg {
  display: block;
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 8px;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transition: all 0.3s;
}

.save svg {
  fill: #ffd700;
}

.save_off svg {
  fill: #999;
}

.total_count {
  width: 40px;
  font-size: 12px;
  color: #fff;
  line-height: 40px;
  text-align: right;
}
.total {
  width: 130px;
  line-height: 40px;
  margin: 0;
  text-align: right;
  font-size: 20px;
  color: #fff;
  font-family: sans-serif;
}

.event_title_container {
  width: 100%;
  margin: 6px 0 10px 0;
  padding: 0 20px;
  text-align: left;
}

/* .h1 {
  font-size: 21px;
} */
.h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: normal;
  font-weight: bold;
  line-height: 3rem;
}

.contant_name_container {
  margin: 10px 0 0 0;
  padding: 0 20px;
  text-align: left;
}

.content_name {
  margin: 0;
  font-size: 1.6rem;
}

.event_date_container {
  margin: 0 20px 0 0;
  width: 100%;
  padding: 0px 20px;
  text-align: left;
  font-size: 1.6rem;
  color: #666;
  height: 20px;
}

.event_memo_container,
.event_memo_container_active,
.event_place_container,
.event_place_container_active {
  margin: 10px 0 0 0;
  width: 100%;
  padding: 0 20px;
  transition: all 0.5s;
  overflow: hidden;
}

.event_memo_container,
.event_place_container {
  height: 0px;
}

.event_memo_container_active,
.event_place_container_active {
  height: 20px;
}
.event_memo,
.event_place {
  margin: 0;
  text-align: left;
  font-size: 1.6rem;
  color: #666;
  line-height: 20px;
}

.goods_list_ul {
  margin: 20px 0 0 0;
  padding: 0;
  width: 100%;
}

.goods_list_li {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  max-width: 100%;
  transition: all 0.5s;
  border-top: 1px #ccc solid;
  max-height: 2000px;
}

.goods_list_li_active {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  max-width: 100%;
  transition: all 0.5s;
  border-top: 1px #ccc solid;
  /* max-height: 80px;
  overflow: hidden; */
}

.goods_items_container {
  margin: 0;
  transition: all 0.5s;
  max-height: 2000px;
  overflow: hidden;
}

.goods_items_container_active {
  margin: 0;
  max-height: 0;
  transition: all 0.5s;
  overflow: hidden;
}

.goodslisthead {
  list-style: none;
  line-height: 20px;
  padding: 10px 10px;
  background-color: #fff;
  border-top: 1px solid #ccc;
  margin: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: right;
  justify-content: right;
  -webkit-align-items: right;
  align-items: right;
}
.goodscontainer {
  border-bottom: 1px solid #ccc;
}

.goods_name {
  width: 100%;
  text-align: left;
  font-size: 1.6rem;
  padding: 10px 0;
  line-height: 20px;
  font-weight: bold;
}
.subtotalcontainer {
  text-align: right;
  width: 100%;
  margin: 0;
  height: 40px;
  padding: 0;
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.group_arrow_open,
.group_arrow_close {
  width: 40px;
  height: 40px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.group_arrow_open::before {
  content: '';
  width: 10px;
  height: 10px;
  border: 0;
  border-top: solid 2px #68a9cf;
  border-right: solid 2px #68a9cf;
  position: absolute;
  top: 22px;
  left: 5px;
  margin-top: -4px;
  transform: rotate(-45deg);
  transition: all 0.7s;
}

.group_arrow_close::before {
  content: '';
  width: 10px;
  height: 10px;
  border: 0;
  border-top: solid 2px #68a9cf;
  border-right: solid 2px #68a9cf;
  position: absolute;
  top: 15px;
  left: 5px;
  margin-top: -4px;
  transform: rotate(135deg);
  transition: all 0.7s;
}

.subtotalwrap {
  margin: 0;
  min-width: 240px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  align-items: center;
}

.subtotalcount {
  height: 40px;
  font-size: 14px;
  color: #666;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.subtotal {
  height: 40px;
  min-width: 120px;
  margin-left: 10px;
  margin-right: 0;
  font-size: 18px;
  font-family: sans-serif;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  align-items: center;
}

.goods_detail_container {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  transition: all 0.3s;
}

.goods_type_container {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  font-size: 1.2rem;
  text-align: right;
  min-width: 20px;
  margin: 0 10px 0 0;
  line-height: 20px;
}

.goods_price_container {
  display: flex;
  justify-content: right;
  align-items: center;
  font-family: sans-serif;
  text-align: right;
  margin: 0 10px 0 0;
  white-space: nowrap;
  font-size: 1.4rem;
}

.plus_minus_container {
  width: 90px;
  min-width: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plusButtonOn {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 42px;
  cursor: pointer;
  background-color: #68a9cf;
  top: 0;
  margin-left: 10px;
  position: relative;
  border: 0;
  transition: all 0.3s;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.plusButtonOn span::before,
.plusButtonOn span::after {
  display: block;
  content: '';
  position: absolute;
  top: 19px;
  left: 12px;
  width: 40%;
  height: 3px;
  margin: 0;
  background: #fff;
  transition: all 0.3s;
}

.plusButtonOn span::after {
  transform: rotate(90deg);
}

.plusButtonOff {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 42px;
  background-color: #ccc;
  top: 0;
  margin-left: 10px;
  position: relative;
  border: 0;
  transition: all 0.3s;
  outline: none;
}

.plusButtonOff span::before,
.plusButtonOff span::after {
  display: block;
  content: '';
  position: absolute;
  top: 19px;
  left: 12px;
  width: 40%;
  height: 3px;
  margin: 0;
  background: #fff;
  transition: all 0.3s;
}

.plusButtonOff span::after {
  transform: rotate(90deg);
}
/* #A6C78E #68a9cf */

.minusButtonOn {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 42px;
  cursor: pointer;
  background-color: #cf6775;
  top: 0;
  margin: 0;
  position: relative;
  border: 0;
  transition: all 0.3s;
  outline: none;
}

.minusButtonOn span::before,
.minusButtonOn span::after {
  display: block;
  content: '';
  position: absolute;
  top: 19px;
  left: 12px;
  width: 40%;
  height: 3px;
  margin: 0;
  background: #fff;
  transition: all 0.3s;
}

.minusButtonOff {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 42px;
  background-color: #ccc;
  top: 0;
  margin: 0;
  position: relative;
  border: 0;
  transition: all 0.3s;
  outline: none;
}

.minusButtonOff span::before,
.minusButtonOff span::after {
  display: block;
  content: '';
  position: absolute;
  top: 19px;
  left: 12px;
  width: 40%;
  height: 3px;
  margin: 0;
  background: #fff;
  transition: all 0.3s;
}

.list_header_container {
  width: 100%;
  padding: 15px 20px 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  white-space: nowrap;
}

.list_header_status {
  display: flex;
  justify-content: left;
  align-items: center;
}
.list_header_sns {
  display: flex;
  justify-content: right;
  align-items: center;
}

.tag_status {
  margin: 0 20px 0 0;
  padding: 8px 10px 8px 10px;
  color: #666;
  font-size: 1.2rem;
  text-align: right;
  position: relative;
  border-radius: 5px;
  border: 1px solid #999;
}

.event_link_container {
  width: 100%;
  padding: 20px 20px 0 20px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.tag_official,
.tag_memo,
.tag_screenshot {
  width: auto;
  margin: 0 0 20px 20px;
  padding: 8px 10px 8px 30px;
  color: #68a9cf;
  font-size: 1.2rem;
  text-align: right;
  position: relative;
  left: -20px;
  border-radius: 5px;
  border: 1px solid #68a9cf;
  cursor: pointer;
  box-sizing: border-box;
  background: #fff;
}

.tag_official svg,
.tag_memo svg,
.tag_screenshot svg {
  display: block;
  content: '';
  position: absolute;
  color: #fff;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 8px;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  fill: #68a9cf;
}

.tag_twitter {
  margin: 0 20px 0 0;
  padding: 8px 10px 8px 30px;
  color: #fff;
  font-size: 1.2rem;
  text-align: right;
  position: relative;
  border-radius: 5px;
  background-color: #55acee;
}

.tag_twitter svg {
  display: block;
  content: '';
  position: absolute;
  color: #fff;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 8px;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  fill: #fff;
}

.tag_line {
  margin: 0;
  padding: 8px 10px 8px 30px;
  color: #fff;
  font-size: 1.2rem;
  text-align: right;
  position: relative;
  border-radius: 5px;
  background-color: #06c755;
}

.tag_line span {
  display: block;
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  color: #fff;
}
.tag_line svg {
  display: block;
  content: '';
  position: absolute;
  color: #fff;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 8px;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  fill: #fff;
}

.scroll_button {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background-color: #000;
  position: fixed;
  bottom: 30px;
  left: 30px;
  opacity: 0.7;
  transition: all 0.3s;
  visibility: visible;
  cursor: pointer;
}

.scroll_button_hidden {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background-color: #000;
  position: fixed;
  bottom: 30px;
  left: 30px;
  opacity: 0.7;
  transition: all 0.3s;
  visibility: hidden;
  visibility: visible;
}

.sort_arrow_container {
  margin: 0 0 20px 0;
  padding: 0 10px;
  width: 100%;
  height: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.arrow_container {
  margin: 0;
  width: 100px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.arrow_all_close,
.arrow_all_close_active {
  margin: 0;
  width: 40px;
  height: 100%;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 0 3px 0;
  font-size: 1rem;
}

.arrow_all_close,
.arrow_all_open {
  color: #999;
}

.arrow_all_close_active,
.arrow_all_open_active {
  color: #68a9cf;
}

.arrow_all_close::before,
.arrow_all_close_active::before {
  content: '';
  width: 10px;
  height: 10px;
  border: 0;
  position: absolute;
  top: 13px;
  left: 12px;
  margin-top: -4px;
  transform: rotate(-45deg);
}

.arrow_all_close::before {
  border-top: solid 4px #999;
  border-right: solid 4px #999;
}
.arrow_all_close_active::before {
  border-top: solid 4px #68a9cf;
  border-right: solid 4px #68a9cf;
}

/* .arrow_all_close::after {
  content: '';
  width: 10px;
  height: 10px;
  border: 0;
  border-top: solid 2px #68a9cf;
  border-right: solid 2px #68a9cf;
  position: absolute;
  top: 24px;
  left: 13px;
  margin-top: -4px;
  transform: rotate(-45deg);
  transition: all 0.7s;
} */

.arrow_all_open,
.arrow_all_open_active {
  margin: 0;
  width: 40px;
  height: 100%;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 0 3px 0;
  font-size: 1rem;
}

.arrow_all_open::before,
.arrow_all_open_active::before {
  content: '';
  width: 10px;
  height: 10px;
  border: 0;
  position: absolute;
  top: 6px;
  left: 12px;
  margin-top: -4px;
  transform: rotate(-225deg);
}
.arrow_all_open::before {
  border-top: solid 4px #999;
  border-right: solid 4px #999;
}
.arrow_all_open_active::before {
  border-top: solid 4px #68a9cf;
  border-right: solid 4px #68a9cf;
}

.sort_container {
  margin: 0;
  width: 160px;
  height: auto;
  font-size: 1.4rem;
  /* box-shadow: 0 1px 4px rgb(0 0 0 / 10%); */
  overflow: hidden;
  border-radius: 10px;
}

.sort_nomal,
.sort_nomal_active {
  margin: 0;
  width: 50%;
  height: auto;
  padding: 10px 0;
  /* border-radius: 5px; */
  transition: all 0.3s;
  border: none;
}

.sort_nomal {
  color: #999;
  cursor: pointer;
  background-color: #fff;
}

.sort_nomal_active {
  color: #fff;
  background-color: #68a9cf;
}

/* background-color: #f2c746; */

.sort_buy,
.sort_buy_active {
  margin: 0;
  width: 50%;
  padding: 10px 0;
  /* border-radius: 5px; */
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}

.sort_buy {
  color: #999;
  background-color: #fff;
}

.sort_buy_active {
  color: #fff;
  background-color: #68a9cf;
}

.ul_event {
  display: grid;
  grid-template-columns: 100%;
  margin: 0;
  padding: 0;
  -webkit-column-count: 1;
  -webkit-column-gap: 20px 0;
  -moz-column-count: 1;
  -moz-column-gap: 20px 0;
  column-count: 1;
  column-gap: 20px 0;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.grid {
  flex-wrap: wrap;
  min-width: 320px;
  max-width: 100%;
  margin: 0;
  padding: 0 10px;
}
.card2 {
  margin: 0 0 40px 0;
  padding: 20px;
  text-align: left;
  color: inherit;
  text-decoration: none;
  /* border: 1px solid #eaeaea; */
  border-radius: 10px;
  width: 100% !important;
  height: auto !important;
  background-color: #fff;
  transition: all 0.3s;
  font-size: 1.4rem;
  position: relative;
  overflow: hidden;
  /* box-shadow: 0 0 6px rgb(0 0 0 / 20%); */
  /* box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  border: 1px solid #ccc; */
}

.li_goods_line {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid #eaeaea;
  width: 100%;
  margin: 10px 0;
}

.MuiInput-underline:after {
  border-bottom: 0px;
}

.event_screenshot_title {
  margin: 40px 0 40px 0;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  font-size: 2rem;
}

.screenshot_container {
  margin: 0 0 20px 0;
  padding: 30px 10px 30px 10px;
  text-align: left;
  color: inherit;
  text-decoration: none;
  /* border: 1px solid #eaeaea; */
  /* border-radius: 5px; */
  width: 100% !important;
  height: auto !important;
  background-color: #fff;
  transition: all 0.3s;
  font-size: 1.4rem;
  position: relative;
}

.s_content_name {
  margin: 0 0 10px 0;
  padding: 0 10px;
  width: 100%;
  font-size: 1.4rem;
}

.s_event_name {
  margin: 0 0 10px 0;
  padding: 0 10px;
  width: 100%;
  font-size: 1.4rem;
}

.s_event_date {
  margin: 0 0 10px 0;
  padding: 0 10px;
}

.s_item_name {
  margin: 20px 0 10px 0;
  padding: 0 10px;
  font-size: 1.4rem;
}

.s_detail_container,
.s_detail_container_checked {
  margin: 0;
  width: 100%;
  padding: 10px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  transition: all 0.3s;
}

.s_detail_container {
  background-color: #fff;
}

.s_detail_container_checked {
  background-color: #eaeaea;
}

.s_price {
  margin: 0;
  width: 100px;
  text-align: right;
}

.s_item_type {
  margin: 0;
  width: auto;
  text-align: right;
}

.s_total_container {
  margin: 0;
  padding: 20px 10px 0 10px;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  border-top: 1px solid #eaeaea;
}

.s_total_count {
  margin: 0;
  width: 100px;
  text-align: right;
  font-size: 1.4rem;
  line-height: 30px;
}

.s_total_price {
  margin: 0;
  width: 100px;
  text-align: right;
  font-size: 2rem;
  line-height: 30px;
}

.label_hot_new {
  margin: 40px 0 60px 0;
  font-size: 2rem;
  position: relative;
  text-align: center;
  font-weight: bold;
  width: 100%;
}

.label_hot_new span:before {
  position: absolute;
  bottom: -20px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-radius: 3px;
  background: #68a9cf;
}

.btn_show_list,
.btn_show_list_active,
.btn_create_list {
  margin: 40px 0 0 0;
  width: 200px;
  border-radius: 30px;
  border: 0px;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  transition: all 0.3s;
  position: relative;
}

.btn_show_list,
.btn_show_list_active {
  padding: 20px 20px 20px 40px;
  text-align: left;
}

.btn_create_list {
  padding: 20px 40px 20px 20px;
  text-align: right;
}
.btn_show_list {
  background-color: #ccc;
}
.btn_show_list_active,
.btn_create_list {
  background-color: #f2c746;
  cursor: pointer;
}

.btn_show_list:before,
.btn_show_list_active:before {
  content: '';
  width: 10px;
  height: 10px;
  border: 0;
  border-top: solid 3px #fff;
  border-right: solid 3px #fff;
  position: absolute;
  top: calc(50% - 3px);
  right: 30px;
  margin-top: -4px;
  transform: rotate(45deg);
  transition: all 0.7s;
  cursor: pointer;
}

.btn_create_list:before {
  content: '';
  width: 10px;
  height: 10px;
  border: 0;
  border-top: solid 3px #fff;
  border-right: solid 3px #fff;
  position: absolute;
  top: calc(50% - 3px);
  left: 30px;
  margin-top: -4px;
  transform: rotate(225deg);
  transition: all 0.7s;
  cursor: pointer;
}

.group_container,
.group_container_checked {
  padding: 0 0 10px 0;
  width: 100%;
  margin: 0;
  border-top: 1px solid #eaeaea;
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
  transition: all 0.3s;
  cursor: pointer;
}

.group_container {
  background-color: #fff;
}

.group_container_checked {
  background-color: #eaeaea;
}

/* .li_goods_line {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid #eaeaea;
  width: 100%;
  margin: 10px 0;
} */
