.header_container,
.header_container_fixed {
  width: 100%;
  margin: 0;
  border-bottom: #e6e6e6 1px solid;
  background-color: #fff;
  z-index: 10;
}

.header_container {
  position: relative;
}

.header_container_fixed {
  position: fixed;
}

.header {
  max-width: 800px;
  min-width: 320px;
  height: 60px;
  padding: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  text-align: right;
  z-index: 5;
}

.logo_container {
  margin: 0;
  white-space: nowrap;
  height: 60px;
  text-align: left;
}
.logo {
  margin: 0;
  padding: 0 20px;
  font-size: 2.4rem;
  font-weight: normal;
  line-height: 60px;
  font-family: 'FuturaPTMedium', sans-serif;
  /* font-family: 'FuturaPTMedium', sans-serif; */
  /* font-family: 'Hind', sans-serif; */
  color: #000;
}

.logo span {
  color: #68a9cf;
}

.btn_search,
.btn_search_active {
  margin: 0;
  width: 60px;
  height: 60px;
  position: relative;
  cursor: pointer;
  border: 0;
  transition: all 0.3s;
  background-color: #fff;
}
.btn_search_active:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 20px;
  top: 30px;
  left: 30px;
  border-radius: 10px;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: all 0.3s;
  cursor: pointer;
  background-color: #000;
}
.btn_search_active:after {
  content: '';
  position: absolute;
  width: 2px;
  height: 20px;
  top: 30px;
  left: 30px;
  border-radius: 10px;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: all 0.3s;
  cursor: pointer;
  background-color: #000;
}

.btn_search:before {
  content: '';
  position: absolute;
  top: 18px;
  left: 20px;
  cursor: pointer;
  display: inline-block;
  width: 14px;
  height: 14px;
  text-align: center;
  line-height: 14px;
  border-radius: 50%;
  border: solid 2px #000;
  transition: all 0.3s;
}

.btn_search:after {
  content: '';
  position: absolute;
  width: 2px;
  height: 8px;
  top: 36px;
  left: 38px;
  border-radius: 10px;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: all 0.3s;
  cursor: pointer;
  background-color: #000;
}

.btn_search svg {
  display: block;
  content: '';
  position: absolute;
  color: #fff;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  fill: #666;
}

.btn_login,
.btn_login_link {
  margin: 0;
  padding: 8px 10px;
  font-size: 1.2rem;
  /* background-color: #68a9cf; */
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  border: 1px solid #68a9cf;
}

.btn_login {
  background-color: #68a9cf;
}

.btn_login_link {
  background-color: #68a9cf;
}

.portal {
  position: absolute;
}

.btn_photo {
  width: 50px;
  height: 50px;
}

.btn_photo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.header_search_container {
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: all 0.3s;
  padding: 70px 0 70px 0;
  pointer-events: none;
}

.header_search_container_active {
  z-index: 3;
  background-color: #fff;
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  opacity: 1;
  padding: 120px 0 70px 0;
  transition: all 0.3s;
}
