.header_container {
  width: 100%;
  margin: 0;
  background-color: #fff;
  border-bottom: #e6e6e6 1px solid;
}

.header {
  max-width: 800px;
  min-width: 320px;
  height: 80px;
  padding: 0 0 0 20px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  text-align: right;
}

.logo_container {
  margin: 0;
  white-space: nowrap;
  height: 60px;
  text-align: left;
}
.logo {
  margin: 0;
  font-size: 3.4rem;
  font-weight: normal;
  line-height: 60px;
  font-family: 'D-DINCondensed', sans-serif;
  /* font-family: 'FuturaPTMedium', sans-serif; */
  /* font-family: 'Hind', sans-serif; */
  color: #000;
}

.logo span {
  color: #68a9cf;
}

.btn_search {
  margin: 0;
  width: 80px;
  height: 80px;
  position: relative;
  cursor: pointer;
}

.btn_search svg {
  display: block;
  content: '';
  position: absolute;
  color: #fff;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  fill: #666;
}

.btn_login,
.btn_login_link {
  margin: 0;
  padding: 8px 10px;
  font-size: 1.2rem;
  /* background-color: #68a9cf; */
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  border: 1px solid #68a9cf;
}

.btn_login {
  background-color: #68a9cf;
}

.btn_login_link {
  background-color: #68a9cf;
}

.portal {
  position: absolute;
}

.btn_photo {
  width: 50px;
  height: 50px;
}

.btn_photo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
