.header_container {
  width: 100%;
  margin: 0;
  background-color: #fff;
  border-bottom: #e6e6e6 1px solid;
}

.header {
  max-width: 800px;
  min-width: 320px;
  height: 60px;
  padding: 0 10px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  text-align: right;
}

.logo_container {
  margin: 0;
  white-space: nowrap;
  height: 60px;
  text-align: left;
}
.logo {
  margin: 0;
  font-size: 2.4rem;
  line-height: 60px;
  font-family: 'Montserrat', sans-serif;
  color: #000;
}

.logo span {
  color: #68a9cf;
}

.btn_login,
.btn_login_link {
  margin: 0;
  padding: 0 15px;
  height: 30px;
  font-size: 1.2rem;
  line-height: 30px;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
}

.btn_login {
  background-color: #68a9cf;
}

.btn_login_link {
  background-color: #f2c746;
}

.portal {
  position: absolute;
  background-color: red;
}
