.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  padding: 0 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 60px 0 10px 0;
  line-height: 1.15;
  font-size: 5rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.sub_title {
  margin: 0 0 30px 0;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 320px;
  max-width: 800px;
  margin-top: 3rem;
}

.new_hot_label {
  width: 100%;
  text-align: left;
  padding: 0 20px;
  font-size: 1.8rem;
  font-weight: bold;
}

.card {
  margin: 0 0 20px 0;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  min-width: 300px;
  max-width: 400px;
  background-color: #fff;
  box-sizing: border-box;
}

/* .card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
} */
.card li {
  list-style: none;
  line-height: 1.5;
  margin: 0;
  padding: 10px 0;
  border-top: 1px solid #ccc;
  font-size: 1.4rem;
}
.card li a {
  display: block;
  height: 100%;
  width: 100%;
}
.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
  text-align: center;
  color: #68a9cf;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.card a:hover,
.card a:focus,
.card a:active {
  color: #68a9cf;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.search {
  font-size: 1.1rem;
  min-width: 280px;
  height: 40px;
  padding: 0 0 0 20px;
  border: 1px solid #999;
  border-radius: 3rem;
  background-color: #fff;
}
.search_container {
  position: relative;
  border: 0;
  border-radius: 3rem;
}

.search_button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
}

.search_button svg {
  position: absolute;
  width: 24px;
  height: 24px;
  fill: #68a9cf;
  top: 7px;
  right: 8px;
}
