.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  padding: 0 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
  min-width: 300px;
  background-color: #fff;
}

/* .card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
} */
.card li {
  list-style: none;
  line-height: 1.5;
  margin: 0;
  padding: 10px 0;
  border-top: 1px solid #ccc;
}
.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
  text-align: center;
  color: #68a9cf;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.card a:hover,
.card a:focus,
.card a:active {
  color: #68a9cf;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.seach {
  font-size: 16px;
  padding: 16px;
  width: 360px;
  margin: 0 0 10px 0;
  border: 0.0625rem solid #ebe8e4;
  border-radius: 1.625rem;
  box-shadow: 0 0 0.3125rem 0 rgb(20 12 0 / 6%);
}
