.main {
  max-width: 800px;
  min-width: 320px;
  margin: 80px auto;
  background-color: #fff;
}

.title {
  margin: 20px 0 10px 0;
  line-height: 1.15;
  font-size: 5rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #000;
}

.title span {
  color: #68a9cf;
}

.sub_title {
  margin: 0 0 30px 0;
  font-size: 1.5rem;
  color: #000;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 320px;
  max-width: 800px;
  margin-top: 3rem;
}

.new_hot_label {
  width: 100%;
  text-align: left;
  padding: 0 20px;
  font-size: 1.8rem;
  font-weight: bold;
}

.card {
  margin: 0 10px 20px 10px;
  padding: 5px 10px;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  min-width: 300px;
  max-width: 850px;
  background-color: #fff;
  transition: all 0.3s;
}

.card:hover {
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.1));
}
.new_event_border li:first-child {
  border: none;
}

.hot_event_border li:first-child {
  border: none;
}

/* .card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
} */
.card li {
  list-style: none;
  line-height: 1.5;
  margin: 0;
  padding: 10px 0;
  border-top: 1px solid #ccc;
  font-size: 1.4rem;
  position: relative;
}

.card li span::before {
  content: '';
  width: 6px;
  height: 6px;
  border: 0;
  border-top: solid 3px #68a9cf;
  border-right: solid 3px #68a9cf;
  position: absolute;
  top: 50%;
  right: 14px;
  margin-top: -4px;
  transform: rotate(45deg);
  transition: all 0.7s;
  cursor: pointer;
}

.card li a {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0 30px 0 10px;
}

.card li:first-child {
  border: none;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
  text-align: center;
  color: #68a9cf;
}

.card a:hover,
.card a:focus,
.card a:active {
  color: #68a9cf;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.search {
  font-size: 14px;
  width: 100%;
  height: 50px;
  padding: 0 0 0 20px;
  border: 3px solid #fff;
  border-radius: 3rem;
  background-color: #edf2f7;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0 0 40px 0;
  -webkit-appearance: none;
}
.search:focus {
  outline: none;
  background-color: #fff;
  border: 3px solid #bfdcff;
  transition: all 0.5s;
}

.search_container {
  min-width: 280px;
  max-width: 80%;
  height: 50px;
  position: relative;
  border: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.search_button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
}

.search_button svg {
  position: absolute;
  width: 24px;
  height: 24px;
  fill: #68a9cf;
  top: 12px;
  right: 20px;
  cursor: pointer;
}
