.main {
  max-width: 840px;
  min-width: 320px;
  margin: 0 auto 0 auto;
  padding: 80px 0 0 0;
}

.main_g {
  max-width: 840px;
  min-width: 320px;
  margin: 0 auto 0 auto;
}

/* .new_hot_label {
  width: 100%;
  text-align: left;
  padding: 0 20px;
  font-size: 1.8rem;
  font-weight: bold;
} */

.label_hot_new {
  margin: 40px 0 60px 0;
  font-size: 2rem;
  position: relative;
  text-align: center;
  font-weight: bold;
  width: 100%;
}

.label_hot_new span:before {
  position: absolute;
  bottom: -20px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-radius: 3px;
  background: #68a9cf;
}

.card {
  margin: 0 10px 20px 10px;
  padding: 5px 10px;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  min-width: 300px;
  max-width: 850px;
  background-color: #fff;
  transition: all 0.3s;
}

.card:hover {
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.1));
}
.new_event_border li:first-child {
  border: none;
}

.hot_event_border li:first-child {
  border: none;
}

/* .card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
} */
.card li {
  list-style: none;
  line-height: 1.5;
  margin: 0;
  padding: 10px 0;
  border-top: 1px solid #ccc;
  font-size: 1.4rem;
  position: relative;
}

.card li span::before {
  content: '';
  width: 6px;
  height: 6px;
  border: 0;
  border-top: solid 3px #68a9cf;
  border-right: solid 3px #68a9cf;
  position: absolute;
  top: 50%;
  right: 14px;
  margin-top: -4px;
  transform: rotate(45deg);
  transition: all 0.7s;
  cursor: pointer;
}

.card li a {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0 30px 0 10px;
}

.card li:first-child {
  border: none;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
  text-align: center;
  color: #68a9cf;
}

.card a:hover,
.card a:focus,
.card a:active {
  color: #68a9cf;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.search {
  width: 100%;
  font-size: 1.6rem;
  padding: 15px 0 15px 25px;
  border: 1px solid #fff;
  border-radius: 3rem;
  background-color: #edf2f7;
  transition: all 0.5s;
  margin: 0 0 40px 0;
  -webkit-appearance: none;
}
.search_active {
  width: 100%;
  font-size: 1.6rem;
  padding: 15px 0 15px 25px;
  border: 1px solid #68a9cf;
  border-radius: 3rem;
  background-color: #fff;
  transition: all 0.5s;
  margin: 0 0 40px 0;
  -webkit-appearance: none;
}

.search:focus {
  border: 1px solid #68a9cf;
}

.search_container {
  min-width: 300px;
  max-width: 60%;
  height: 50px;
  position: relative;
  border: 0;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
}

.search_button,
.search_button_active {
  position: absolute;
  width: 24px;
  width: 24px;
  /* top: 12px; */
  right: 18px;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
}

.search_button svg,
.search_button_active svg {
  width: 24px;
  height: 24px;
  transition: all 0.3s;
}

.search_button svg {
  fill: #999;
}

.search_button_active svg {
  fill: #68a9cf;
  cursor: pointer;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 320px;
  max-width: 840px;
  padding: 0 10px;
}

.li_event_padding {
  margin: 0;
  padding: 15px 10px 15px 15px;
}
.li_event.is_show {
  opacity: 1;
  visibility: visible;
}

.li_event::before {
  content: '';
  width: 8px;
  height: 8px;
  border: 0;
  border-top: solid 2px #68a9cf;
  border-right: solid 2px #68a9cf;
  position: absolute;
  top: 50%;
  right: 18px;
  margin-top: -4px;
  transform: rotate(45deg);
  transition: all 0.7s;
  cursor: pointer;
}

@media screen and (max-width: 669px) {
  .ul_event {
    display: grid;
    grid-template-columns: 100%;
    margin: 0;
    padding: 0;
    line-height: 0;
    -webkit-column-count: 1;
    -webkit-column-gap: 20px;
    -moz-column-count: 1;
    -moz-column-gap: 20px;
    column-count: 1;
    column-gap: 20px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  .li_event {
    margin: 0 0 20px 0;
    padding: 0;
    text-align: left;
    color: inherit;
    text-decoration: none;
    /* border: 1px solid #eaeaea; */
    /* border-radius: 5px; */
    width: 100% !important;
    height: auto !important;
    background-color: #fff;
    transition: all 0.5s;
    font-size: 1.4rem;
    position: relative;
    /* box-shadow: 0 1px 4px rgb(0 0 0 / 10%); */
    border-radius: 10px;
    /* opacity: 0;
    visibility: hidden; */
  }

  .title {
    margin: 20px 0 10px 0;
    line-height: 0.9;
    font-size: 8rem;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Hind', sans-serif;
    text-align: center;
    color: #000;
  }

  .title span {
    color: #68a9cf;
  }

  .sub_title {
    margin: 0 0 30px 0;
    font-size: 1.5rem;
    color: #000;
  }
}
@media screen and (min-width: 670px) {
  .ul_event {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto auto;
    margin: 0;
    padding: 0;
    line-height: 0;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
    line-height: 0;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    width: 820px;
  }

  .li_event {
    margin: 0 0 20px 0;
    padding: 0;
    text-align: left;
    color: inherit;
    text-decoration: none;
    /* border: 1px solid #eaeaea; */
    /* border-radius: 5px; */
    width: 100% !important;
    max-width: 400px !important;
    height: auto !important;
    background-color: #fff;
    transition: all 0.5s;
    font-size: 1.4rem;
    position: relative;
    /* box-shadow: 0 1px 4px rgb(0 0 0 / 10%); */
    border-radius: 10px;
    /* opacity: 0;
    visibility: hidden; */
  }

  .title {
    margin: 20px 0 10px 0;
    line-height: 1.15;
    font-size: 8rem;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Hind', sans-serif;
    text-align: center;
    color: #000;
  }

  .title span {
    color: #68a9cf;
  }

  .sub_title {
    margin: 0 0 60px 0;
    font-size: 3rem;
    color: #000;
  }
}

.li_event_line {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid #eaeaea;
  width: 100%;
  margin: 20px 0 10px 0;
}
.li_event::before {
  content: '';
  width: 8px;
  height: 8px;
  border: 0;
  border-top: solid 2px #68a9cf;
  border-right: solid 2px #68a9cf;
  position: absolute;
  top: 50%;
  right: 18px;
  margin-top: -4px;
  transform: rotate(45deg);
  transition: all 0.7s;
  cursor: pointer;
}

.li_event a {
  display: block;
  width: 100%;
  padding: 0 30px 0 0;
}

.contents_title {
  margin: 10px 0;
}

.event_title {
  margin: 10px 0 0 0;
  line-height: 20px;
}

.wrapper_white {
  margin: 0;
  padding: 0 0 100px 0;
  width: 100%;
  background: url('/images/background9.png');
  background-repeat: repeat;
  background-position: 50% 0%;
  background-size: 450px 900px;

  position: relative;
}
.wrapper_white::after {
  content: '';
  position: absolute;
  background: linear-gradient(45deg, #f1f1f1 50%, transparent 50%),
    linear-gradient(315deg, #f1f1f1 50%, transparent 50%);
  background-size: 20px 20px;
  height: 14px;
  width: 100%;
  left: 0;
  bottom: 0;
}
.wrapper_glay {
  margin: 0;
  width: 100%;
  background-color: #f1f1f1;
  /* background-color: #faf9f7; */
  padding: 30px 0 60px 0;
}

.search_result,
.search_result_active {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 300px;
  top: 55px;
  background-color: #fff;
  text-align: left;
  font-size: 1.2rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 8%);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 8%);
}

.search_result {
  height: 0;
}

.search_result_active li {
  margin: 0;
}

.search_result_active li a {
  display: block;
  margin: 0;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
