.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  padding: 0 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 30px 0 10px 0;
  line-height: 1.15;
  font-size: 5rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.sub_title {
  margin: 0 0 30px 0;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 320px;
  max-width: 800px;
  margin-top: 3rem;
}

.new_hot_label {
  width: 100%;
  text-align: left;
  padding: 0 20px;
  font-size: 1.8rem;
  font-weight: bold;
}

.card {
  margin: 0 0 20px 0;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  min-width: 300px;
  max-width: 400px;
  background-color: #fff;
  box-sizing: border-box;
}

/* .card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
} */
.card li {
  list-style: none;
  line-height: 1.5;
  margin: 0;
  padding: 10px 0;
  border-top: 1px solid #ccc;
  font-size: 1.4rem;
}
.card li a {
  display: block;
  height: 100%;
  width: 100%;
}
.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
  text-align: center;
  color: #68a9cf;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.card a:hover,
.card a:focus,
.card a:active {
  color: #68a9cf;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.search {
  font-size: 1.1rem;
  padding: 15px 20px 15px 20px;
  min-width: 280px;
  margin: 0 0 10px 0;
  border: 0.0625rem solid #ebe8e4;
  border-radius: 3rem;
  box-shadow: 0 0 0.3125rem 0 rgb(20 12 0 / 6%);
}
.search_container {
  box-sizing: border-box;
  position: relative;
  border: 1px solid #999;
  display: block;
  padding: 3px 10px;
  border-radius: 20px;
  height: 2.3em;
  width: 260px;
  height: 40px;
  overflow: hidden;
}
.search_container input[type='text'] {
  border: none;
  height: 2em;
}
.search_container input[type='text']:focus {
  outline: 0;
}
.search_container input[type='submit'] {
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.3em;
  border: none;
  background: none;
  color: #3879d9;
  position: absolute;
  width: 2.5em;
  height: 7.5em;
  right: 0;
  top: -10px;
  outline: none;
}
