.main {
  max-width: 840px;
  min-width: 320px;
  margin: 0 auto 0 auto;
  padding: 100px 0 170px 0;
  /* background: url('/images/background11.png');
  background-repeat: repeat-x;
  background-position: 50% 0%;
  background-size: 400px 600px; */
}

.main_g {
  max-width: 840px;
  min-width: 320px;
  margin: 0 auto 0 auto;
}

/* .new_hot_label {
  width: 100%;
  text-align: left;
  padding: 0 20px;
  font-size: 1.8rem;
  font-weight: bold;
} */

.event_list_title_container {
  margin: 0;
  width: 100%;
}

.event_list_title {
  margin: 30px 0 20px 0;
  font-size: 4rem;
  font-weight: normal;
  /* font-family: 'D-DINCondensed', sans-serif; */
  font-family: 'FuturaPTMedium', sans-serif;
  position: relative;
  text-align: center;
  width: 100%;
  transition: all 0.2s;
  z-index: 0;
}

.event_list_title_bar {
  position: relative;
  width: 60px;
  height: 5px;
  border-radius: 3px;
  background: #68a9cf;
  margin: 0 auto 60px auto;
  transition: all 0.2s;
}

.card {
  margin: 0 10px 20px 10px;
  padding: 5px 10px;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  min-width: 300px;
  max-width: 850px;
  background-color: #fff;
  transition: all 0.3s;
}

.card:hover {
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.1));
}
.new_event_border li:first-child {
  border: none;
}

.hot_event_border li:first-child {
  border: none;
}

/* .card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
} */
.card li {
  list-style: none;
  line-height: 1.5;
  margin: 0;
  padding: 10px 0;
  border-top: 1px solid #ccc;
  font-size: 1.4rem;
  position: relative;
}

.card li span::before {
  content: '';
  width: 6px;
  height: 6px;
  border: 0;
  border-top: solid 3px #68a9cf;
  border-right: solid 3px #68a9cf;
  position: absolute;
  top: 50%;
  right: 14px;
  margin-top: -4px;
  transform: rotate(45deg);
  transition: all 0.7s;
  cursor: pointer;
}

.card li a {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0 30px 0 10px;
}

.card li:first-child {
  border: none;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
  text-align: center;
  color: #68a9cf;
}

.card a:hover,
.card a:focus,
.card a:active {
  color: #68a9cf;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.li_event_padding {
  margin: 0;
  padding: 15px 10px 15px 15px;
}
.li_event.is_show {
  opacity: 1;
  visibility: visible;
}

.li_event::before {
  content: '';
  width: 8px;
  height: 8px;
  border: 0;
  border-top: solid 2px #68a9cf;
  border-right: solid 2px #68a9cf;
  position: absolute;
  top: 50%;
  right: 18px;
  margin-top: -4px;
  transform: rotate(45deg);
  transition: all 0.7s;
  cursor: pointer;
}

@media screen and (max-width: 839px) {
  .ul_event {
    margin: 0;
    padding: 0;
  }

  .li_event {
    margin: 0 0 40px 0;
    padding: 0;
    text-align: left;
    color: inherit;
    text-decoration: none;
    /* border: 1px solid #eaeaea; */
    /* border-radius: 5px; */
    width: 100% !important;
    height: auto !important;
    background-color: #fff;
    transition: all 0.2s;
    font-size: 1.4rem;
    position: relative;
    /* box-shadow: 0 1px 4px rgb(0 0 0 / 10%); */
    border-radius: 10px;
    /* opacity: 0;
    visibility: hidden; */
    /* box-shadow: 0 0 6px rgb(0 0 0 / 20%); */
    /* border: 1px solid #ccc; */
  }

  .title {
    margin: 20px 0 10px 0;
    line-height: 1.2;
    font-size: 7rem;
    font-weight: normal;
    font-family: 'FuturaPTMedium', sans-serif;
    /* font-family: 'FuturaPTMedium', sans-serif; */
    /* font-family: 'Hind', sans-serif; */
    text-align: center;
    color: #000;
  }

  .title span {
    color: #68a9cf;
  }

  .sub_title {
    margin: 0 0 30px 0;
    font-size: 1.5rem;
    color: #000;
  }

  .event_list_container {
    min-width: 320px;
    max-width: 840;
    margin: 0;
    overflow: hidden;
  }

  .topic_container {
    margin: 0 0 100px 0;
    width: 100%;
  }

  .topic_image {
    position: relative;
    transition: all 0.2s;
  }
  .topic_image img {
    border-radius: 20px;
  }
}
@media screen and (min-width: 840px) {
  .topic_image {
    position: relative;
    transition: all 0.2s;
    width: 400px;
  }
  .topic_image img {
    border-radius: 20px;
  }

  .topic_container {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    width: 840px;
    padding: 0 0 100px 0;
    margin: 0 auto;
  }

  .grid {
    display: flex;
    justify-content: space-between;
    min-width: 320px;
    width: 840px;
    padding: 0;
    margin: 0 auto;
  }

  .event_list_container {
    min-width: 320px;
    max-width: 400px;
    margin: 0;
    padding: 0;
  }

  .ul_event {
    margin: 0;
    width: 100%;
    padding: 0;
  }

  .li_event {
    margin: 0 0 40px 0;
    padding: 0;
    text-align: left;
    color: inherit;
    text-decoration: none;
    /* border: 1px solid #eaeaea; */
    /* border-radius: 5px; */
    min-width: 320px;
    max-width: 400px !important;
    height: auto !important;
    background-color: #fff;
    transition: all 0.5s;
    font-size: 1.4rem;
    position: relative;
    /* box-shadow: 0 1px 4px rgb(0 0 0 / 10%); */
    border-radius: 10px;
    opacity: 0;
    /* opacity: 0;
    visibility: hidden; */
  }
  .li_event_active {
    margin: 0 0 20px 0;
    padding: 0;
    text-align: left;
    color: inherit;
    text-decoration: none;
    /* border: 1px solid #eaeaea; */
    /* border-radius: 5px; */
    min-width: 320px;
    max-width: 400px !important;
    height: auto !important;
    background-color: #fff;
    transition: all 0.5s;
    font-size: 1.4rem;
    position: relative;
    /* box-shadow: 0 1px 4px rgb(0 0 0 / 10%); */
    border-radius: 10px;
    opacity: 1;
    /* opacity: 0;
    visibility: hidden; */
  }

  .title {
    margin: 20px 0 10px 0;
    line-height: 1.15;
    font-size: 12rem;
    font-weight: normal;
    font-family: 'FuturaPTMedium', sans-serif;
    /* font-family: 'Hind', sans-serif; */
    text-align: center;
    color: #000;
  }

  .title span {
    color: #68a9cf;
  }

  .sub_title {
    margin: 0 0 60px 0;
    font-size: 2rem;
    color: #000;
  }
}

.li_event_line {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid #eaeaea;
  width: 100%;
  margin: 10px 0;
}
.li_event::before {
  content: '';
  width: 8px;
  height: 8px;
  border: 0;
  border-top: solid 2px #68a9cf;
  border-right: solid 2px #68a9cf;
  position: absolute;
  top: 50%;
  right: 18px;
  margin-top: -4px;
  transform: rotate(45deg);
  transition: all 0.7s;
  cursor: pointer;
}

.li_event a {
  display: block;
  width: 100%;
  padding: 0 30px 0 0;
}

.contents_title {
  margin: 0;
  padding: 0;
}
.event_date {
  margin: 0;
  padding: 10px 0 0 0;
  font-size: 1.2rem;
}

.event_title {
  margin: 10px 0 0 0;
  line-height: 20px;
}

.topic_title {
  margin: 40px 0 0 0;
  width: 100%;
  font-size: 2.4rem;
  font-weight: bold;
  position: relative;
  transition: all 0.2s;
}

.topic_text {
  margin: 20px 0;
  width: 100%;
  font-size: 1.6rem;
  text-align: left;
  line-height: 3.2rem;
  position: relative;
  transition: all 0.2s;
}

/* .fadein {
  position: relative;
  top: 200px;
}

.opacity {
  opacity: 0;
} */

.fadein_bottom_before {
  top: 50px;
  opacity: 0;
}

.fadein_bottom_after {
  top: 0px;
  opacity: 1;
}

.fadein_left_before {
  left: -50px;
  opacity: 0;
}

.fadein_left_after {
  left: 0px;
  opacity: 1;
}

.fadein_right_before {
  right: -50px;
  opacity: 0;
}

.fadein_right_after {
  right: 0px;
  opacity: 1;
}

.search_result_active_hr {
  margin: 0;
  border: 1px solid #ccc;
}
