.main {
  max-width: 830px;
  min-width: 320px;
  margin: 80px auto 0 auto;
}

.title {
  margin: 20px 0 10px 0;
  line-height: 1.15;
  font-size: 5rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #000;
}

.title span {
  color: #68a9cf;
}

.sub_title {
  margin: 0 0 30px 0;
  font-size: 1.5rem;
  color: #000;
}

/* .new_hot_label {
  width: 100%;
  text-align: left;
  padding: 0 20px;
  font-size: 1.8rem;
  font-weight: bold;
} */

.label_hot_new {
  margin: 40px 0 60px 0;
  font-size: 2rem;
  position: relative;
  text-align: center;
  font-weight: bold;
}

.label_hot_new span:before {
  position: absolute;
  bottom: -20px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-radius: 3px;
  background: #68a9cf;
}

.card {
  margin: 0 10px 20px 10px;
  padding: 5px 10px;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  min-width: 300px;
  max-width: 850px;
  background-color: #fff;
  transition: all 0.3s;
}

.card:hover {
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.1));
}
.new_event_border li:first-child {
  border: none;
}

.hot_event_border li:first-child {
  border: none;
}

/* .card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
} */
.card li {
  list-style: none;
  line-height: 1.5;
  margin: 0;
  padding: 10px 0;
  border-top: 1px solid #ccc;
  font-size: 1.4rem;
  position: relative;
}

.card li span::before {
  content: '';
  width: 6px;
  height: 6px;
  border: 0;
  border-top: solid 3px #68a9cf;
  border-right: solid 3px #68a9cf;
  position: absolute;
  top: 50%;
  right: 14px;
  margin-top: -4px;
  transform: rotate(45deg);
  transition: all 0.7s;
  cursor: pointer;
}

.card li a {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0 30px 0 10px;
}

.card li:first-child {
  border: none;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
  text-align: center;
  color: #68a9cf;
}

.card a:hover,
.card a:focus,
.card a:active {
  color: #68a9cf;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.search {
  width: 100%;
  height: 50px;
  padding: 0 0 3px 20px;
  line-height: 40px;
  border: 2px solid #fff;
  border-radius: 3rem;
  background-color: #edf2f7;
  transition: all 0.5s;
  margin: 0 0 40px 0;
  -webkit-appearance: none;
}
/* .search:focus {
  outline: none;
  background-color: #fff;
  border: 3px solid #bfdcff;
  transition: all 0.5s;
} */

.search_container {
  min-width: 300px;
  max-width: 80%;
  height: 50px;
  position: relative;
  border: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.search_button {
  position: absolute;
  width: 24px;
  width: 24px;
  top: 12px;
  right: 18px;
}

.search_button svg {
  position: absolute;
  width: 24px;
  height: 24px;
  fill: #68a9cf;
  top: 0;
  right: 0;
  cursor: pointer;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 320px;
  max-width: 100%;
  margin-top: 10rem;
  padding: 0 10px;
}
.card2 {
  margin: 0 0 10px 0;
  padding: 15px 40px 15px 15px;
  text-align: left;
  color: inherit;
  text-decoration: none;
  /* border: 1px solid #eaeaea; */
  /* border-radius: 5px; */
  width: 100% !important;
  height: auto !important;
  background-color: #fff;
  transition: all 0.3s;
  font-size: 1.4rem;
  position: relative;
  box-shadow: 0 1px 4px rgb(0 0 0 / 10%);
}
@media screen and (max-width: 669px) {
  .ul_event {
    display: grid;
    grid-template-columns: 100%;
    margin: 0;
    padding: 0;
    line-height: 0;
    -webkit-column-count: 1;
    -webkit-column-gap: 20px;
    -moz-column-count: 1;
    -moz-column-gap: 20px;
    column-count: 1;
    column-gap: 20px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }
}
@media screen and (min-width: 670px) {
  .ul_event {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto auto;
    margin: 0;
    padding: 0;
    line-height: 0;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    column-count: 2;
    column-gap: 10px;
    line-height: 0;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }
}

.li_event_line {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid #eaeaea;
  width: 100%;
  margin: 20px 0 10px 0;
}
.card2::before {
  content: '';
  width: 8px;
  height: 8px;
  border: 0;
  border-top: solid 2px #68a9cf;
  border-right: solid 2px #68a9cf;
  position: absolute;
  top: 50%;
  right: 18px;
  margin-top: -4px;
  transform: rotate(45deg);
  transition: all 0.7s;
  cursor: pointer;
}

.card2 a {
  display: block;
  width: 100%;
  padding: 0 30px 0 10px;
}

.contents_title {
  margin: 10px 0;
}

.event_title {
  margin: 10px 0 0 0;
  line-height: 20px;
}

.wrapper_white {
  width: 100%;
}
.wrapper_glay {
  width: 100%;
  background-color: #f1f1f1;
  /* background-color: #faf9f7; */
  padding: 0 0 60px 0;
}
