.main {
  max-width: 800px;
  min-width: 320px;
  margin: 30px auto;
  padding: 0 10px;
  background-color: #fff;
  text-align: center;
}

.notes {
  margin: 0 auto 20px auto;
  width: 90%;
  font-size: 1.4rem;
  line-height: 2.8rem;
  color: #999;
  text-align: left;
}

.forgot_password {
  margin: 0 auto 20px auto;
  width: 90%;
  font-size: 1.2rem;
  color: #999;
  text-align: right;
}

.forgot_password a {
  text-decoration: underline;
}

.gender_container {
  margin: 0 auto 50px auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  min-width: 260px;
  width: 70%;
  height: 40px;
  background-color: #edf2f7;
  border-radius: 10px;
}

.gender_selected {
  margin: 0;
  width: 33%;
  height: 40px;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0%;
  border-radius: 10px;
  transition: all 0.3s;
  background-color: #edf2f7;
  border: 1px solid #edf2f7;
}

.gender_selected_1,
.gender_selected_2,
.gender_selected_3 {
  margin: 0;
  width: 33%;
  height: 40px;
  z-index: 1;
  position: absolute;
  top: 0;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #68a9cf;
  transition: all 0.3s;
}

.gender_selected_1,
.gender_selected_2,
.gender_selected_3 {
  background-color: #fff;
  border: 1px solid #68a9cf;
}

.gender_selected_1 {
  left: 0%;
}

.gender_selected_2 {
  left: 34%;
}

.gender_selected_3 {
  left: 67%;
}

.input_radio,
.input_radio_active {
  margin: 0;
  width: 33%;
  height: 40px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 38px;
  transition: all 0.3s;
  color: #666;
  z-index: 2;
}

.input_radio {
  cursor: pointer;
}

.btn_link_signup {
  margin: 0 0 10px 0;
  width: 60%;
  height: 40px;
  font-size: 1.4rem;
  color: #fff;
  background-color: #f2c746;
  border-radius: 40px;
  border: #f2c746 1px solid;
  cursor: pointer;
}

.send_email_address {
  margin: 0 auto 30px auto;
  width: 90%;
  font-size: 1.6rem;
  color: #cf6775;
  font-weight: bold;
  text-align: center;
}

.send_email_text {
  margin: 0 auto;
  width: 90%;
  font-size: 1.4rem;
  text-align: left;
  line-height: 2.8rem;
}

.link_return {
  margin: 30px auto 20px auto;
  width: 90%;
  font-size: 1.6rem;
  text-align: center;
  text-decoration: underline;
}

.link_cancel {
  margin: 30px auto 10px auto;
  width: 90%;
  color: #999;
  text-decoration: underline;
  font-size: 1.4rem;
}
