.main {
  max-width: 800px;
  min-width: 320px;
  margin: 0 auto;
  padding: 10px 0;
  background-color: #fff;
  text-align: center;
}

.content_title {
  margin: 20px 0;
  font-size: 24px;
  position: relative;
  text-align: center;
}

/* .content_title span:before {
  position: absolute;
  bottom: -20px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-radius: 3px;
  background: #68a9cf;
} */

.login_signup_form_container {
  margin: 0 10px;
  padding: 0 0 20px 0;
  text-align: center;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  min-width: 300px;
  max-width: 500px;
  background-color: #fff;
  display: inline-block;
}

.form_login_sns,
.form_login_mail {
  width: 100%;
  min-width: 280px;
  max-width: 500px;
  margin: 0;
  text-align: center;
  display: inline-block;
}

.form_header {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  margin: 20px 0;
  color: #666;
}

.form_header:before,
.form_header:after {
  content: '';
  height: 1px;
  flex-grow: 1;
  background-color: #e6e6e6;
}

.form_header:before {
  margin-right: 1rem;
}

.form_header:after {
  margin-left: 1rem;
}

.btn_login_twitter,
.btn_login_line,
.btn_login_google,
.btn_login_yahoo,
.btn_login_mail {
  box-sizing: border-box;
  margin: 0 0 20px 0;
  width: 90%;
  height: 40px;
  line-height: 40px;
  position: relative;
  border: none;
  border-radius: 10px;
  font-size: 1.4rem;
  color: #fff;
  cursor: pointer;
}

.btn_login_twitter {
  background-color: #1da1f2;
}

.btn_login_twitter span {
  display: block;
  content: '';
  position: absolute;
  top: 5px;
  left: 15px;
  width: 20px;
  height: 20px;
  color: #fff;
}
.btn_login_twitter svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.btn_login_line {
  background-color: #06c755;
}

.btn_login_line span {
  display: block;
  content: '';
  position: absolute;
  top: 5px;
  left: 15px;
  width: 20px;
  height: 20px;
  color: #fff;
}
.btn_login_line svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.btn_login_google {
  box-sizing: border-box;
  margin: 0 0 20px 0;
  padding: 0;
  width: 100%;
  height: 40px;
  position: relative;
  border: none;
  border-radius: 10px;
  font-size: 1.4rem;
  color: #333;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid #ccc;
}

.btn_login_google span {
  display: block;
  content: '';
  position: absolute;
  top: 5px;
  left: 15px;
  width: 20px;
  height: 20px;
  color: #fff;
}

.btn_login_yahoo {
  background-color: #ff0033;
}

.btn_login_yahoo span {
  display: block;
  content: '';
  position: absolute;
  top: 5px;
  left: 15px;
  width: 20px;
  height: 20px;
  color: #fff;
}

.btn_login_mail {
  background-color: #68a9cf;
}

.btn_login_mail span {
  display: block;
  content: '';
  position: absolute;
  top: 5px;
  left: 15px;
  width: 20px;
  height: 20px;
  color: #fff;
}
.btn_login_mail svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.space_bar {
  display: inline-block;
  margin: 0 0 40px 0;
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 0;
}

.input_mail_container,
.input_password_container {
  display: inline-block;
  margin: 0;
  position: relative;
  width: 90%;
  height: 40px;
  text-align: center;
}

.input_mail_container span,
.input_password_container span {
  display: block;
  content: '';
  position: absolute;
  top: 10px;
  left: 15px;
  width: 20px;
  height: 20px;
  color: #fff;
}
.input_mail_container svg,
.input_password_container svg {
  width: 20px;
  height: 20px;
  fill: #999;
}

.input_mail,
.input_password {
  margin: 0;
  padding: 0 0 0 50px;
  width: 100%;
  height: 40px;
  border-radius: 10px;
}

.forgot_password {
  display: inline-block;
  margin: 5px 0 30px 0;
  padding: 0 20px 0 0;
  width: 100%;
  font-size: 12px;
  text-align: right;
  color: #999;
  text-decoration: underline;
}

.input_name_container {
  display: flex;
  justify-self: start;
  align-items: center;
  margin: 0;
  position: relative;
  min-width: 200px;
  width: 100%;
  height: 40px;
}

.input_label {
  width: 90px;
  font-size: 12px;
  text-align: left;
}

.birth_gender_container {
  display: flex;
  justify-self: start;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #fff;
}

.birth_gender {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #fff;
}

.input_select,
.input_select_active {
  width: 110px;
  padding: 0 20px 0 10px;
  height: 44px;
  font-size: 14px;
  position: relative;
  background-color: #edf2f7;
  border-radius: 10px;
  letter-spacing: 4px;
  transition: all 0.5s;
}
.input_select:focus,
.input_select_active {
  outline: none;
  background-color: #fff;
  border: 2px solid #bfdcff;
}
.input_select {
  color: #666;
  border: 2px solid #fff;
  background-color: #edf2f7;
}
.input_select_active {
  color: #666;
  border: 2px solid #68a9cf;
  background-color: #fff;
}

.select_arrow span::before {
  content: '';
  width: 10px;
  height: 10px;
  border: 0;
  border-top: solid 3px red;
  border-right: solid 3px #fff;
  position: absolute;
  top: 15px;
  left: 13px;
  margin-top: -4px;
  transform: rotate(-45deg);
  transition: all 0.7s;
}

.input_radio,
.input_radio_active {
  margin: 0 5px;
  max-width: 50px;
  width: 70px;
  max-width: 70px;
  height: 44px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 40px;
  transition: all 0.3s;
  color: #666;
  transition: all 0.5s;
}

.input_radio {
  cursor: pointer;
  background-color: #edf2f7;
  border: 2px solid #fff;
}

.input_radio_active {
  border: 2px solid #68a9cf;
  background-color: #fff;
}

.input_error {
  padding: 5px 20px;
  width: 100%;
  height: 30px;
  text-align: left;
  font-size: 1.2rem;
  color: #cf6775;
}

.notes {
  padding: 5px 0;
  width: 100%;
  font-size: 1.2rem;
  color: #999;
  text-align: right;
}

.refuse {
  margin: 40px 0;
  width: 100%;
  font-size: 1.4rem;
  text-decoration: underline;
  color: #999;
}

.btn_singup,
.btn_singup_active {
  margin: 0 0 20px 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  position: relative;
  border: none;
  border-radius: 10px;
  font-size: 1.4rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s;
}

.btn_singup {
  background-color: #ccc;
  color: #fff;
}

.btn_singup_active {
  background-color: #68a9cf;
  color: #fff;
}

.btn_singup span,
.btn_singup_active span {
  display: block;
  content: '';
  position: absolute;
  top: 8px;
  left: 18px;
  width: 20px;
  height: 20px;
  color: #fff;
}
.btn_singup svg,
.btn_singup_active svg {
  width: 28px;
  height: 28px;
  fill: #fff;
}

.bar_login {
  display: inline-block;
  width: 90%;
  margin: 30px 0 0 0;
  border-top: 1px solid #ccc;
  border-bottom: 0;
}

.explanation {
  margin: 40px 0 0 0;
  font-size: 1.4rem;
  color: #666;
}

.btn_link_signup {
  margin: 30px 0 20px 0;
  width: 60%;
  height: 40px;
  font-size: 1.4rem;
  color: #fff;
  background-color: #f2c746;
  border-radius: 40px;
  border: #f2c746 1px solid;
  cursor: pointer;
}

/* 
.select_login_container {
  margin: 0;
  width: 100%;
}

.select_register_active,
.select_login_active {
  width: 50%;
  margin: 0;
  padding: 15px 0;
  width: 50%;
  border: none;
  background-color: #fff;
  font-size: 1.4rem;
  color: #cf6775;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.select_register,
.select_login {
  margin: 0;
  padding: 15px 0;
  width: 50%;
  border: none;
  background-color: #fff;
  font-size: 1.4rem;
  color: #666;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.select_underbar_container {
  width: 100%;
  height: 3px;
  background-color: #eee;
}

.select_underbar_login {
  width: 50%;
  height: 3px;
  background-color: #cf6775;
  position: relative;
  top: 0;
  left: 0px;
  transition: all 0.3s;
}
.select_underbar_register {
  width: 50%;
  height: 3px;
  background-color: #cf6775;
  position: relative;
  top: 0;
  left: 50%;
  transition: all 0.3s;
} */
