.main {
  max-width: 800px;
  min-width: 320px;
  margin: 80px auto;
  padding: 10px 0;
  background-color: #fff;
}

.content_title {
  margin: 0 0 60px 0;
  font-size: 30px;
  position: relative;
  text-align: center;
}

.content_title span:before {
  position: absolute;
  bottom: -20px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-radius: 3px;
  background: #68a9cf;
}

.content_title:before {
  left: 0;
}

.content_title:after {
  right: 0;
}

.card {
  margin: 0 10px;
  padding: 5px 0;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  min-width: 300px;
  max-width: 850px;
  background-color: #fff;
  transition: all 0.3s;
}

.select_login_container {
  margin: 0;
  width: 100%;
}

.select_register_active,
.select_login_active {
  width: 50%;
  margin: 0;
  padding: 15px 0;
  width: 50%;
  border: none;
  background-color: #fff;
  font-size: 1.2rem;
  color: #cf6775;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.select_register,
.select_login {
  margin: 0;
  padding: 15px 0;
  width: 50%;
  border: none;
  background-color: #fff;
  font-size: 1.2rem;
  color: #666;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.select_underbar_container {
  width: 100%;
  height: 3px;
  background-color: #eee;
}

.select_underbar_login {
  width: 50%;
  height: 3px;
  background-color: #cf6775;
  position: relative;
  top: 0;
  left: 0px;
  transition: all 0.3s;
}
.select_underbar_register {
  width: 50%;
  height: 3px;
  background-color: #cf6775;
  position: relative;
  top: 0;
  left: 50%;
  transition: all 0.3s;
}

.login {
  width: 60px;
  font-size: 1rem;
  height: 60px;
  text-align: center;
  padding: 36px 0 0 0;
  position: relative;
  cursor: pointer;
}

.login span {
  display: block;
  content: '';
  position: absolute;
  top: 5px;
  left: 13px;
  width: 20px;
  height: 20px;
}
.login svg {
  width: 30px;
  height: 30px;
  fill: #000;
}
.btn_container {
  width: 100%;
  margin: 0;
  padding: 0 10px;
  text-align: center;
}

.terms {
  margin: 40px 10px;
  font-size: 1.4rem;
  text-align: center;
}

.btn_login_twitter,
.btn_login_line,
.btn_login_google,
.btn_login_yahoo,
.btn_login_mail {
  margin: 0 0 20px 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  min-width: 280px;
  max-width: 500px;
  border: none;
  border-radius: 30px;
  font-size: 1.6rem;
  color: #fff;
  cursor: pointer;
}

.btn_login_twitter {
  background-color: #1da1f2;
}

.btn_login_line {
  background-color: #06c755;
}

.btn_login_google {
  background-color: #dd5144;
}

.btn_login_yahoo {
  background-color: #ff0027;
}

.btn_login_mail {
  background-color: #68a9cf;
}

.space_bar {
  margin: 20px 0 40px 0;
  border-top: 1px solid #ccc;
  border-bottom: 0;
}

.input_mail,
.input_password {
  margin: 0 0 20px 0;
  padding: 0 0 0 50px;
  width: 100%;
  height: 40px;
  min-width: 280px;
  max-width: 500px;
  border-radius: 5px;
  border: 1px solid #999;
}
