.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: 0.05s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.overlay_active {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
  visibility: visible;
  transition: 0.05s linear;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  animation: fadeIn 0.2s ease 0.3s 1 normal;
}

.modal_container {
  opacity: 0;
  visibility: hidden;
  /* transform: scale(0.5); */
  transform: translateY(100px);
  transition: 0.2s;
  min-width: 280px;
  max-width: 400px;
  width: 100%;
  margin: 0 20px;
  background-color: #fff;
  padding: 20px 30px 40px 30px;
  cursor: default;
}

.modal_container_active {
  opacity: 1;
  visibility: visible;
  /* transform: scale(1); */
  transform: translateY(0);
  transition: 0.2s;
  min-width: 280px;
  max-width: 400px;
  max-height: 500px;
  width: 100%;
  margin: 0 20px;
  background-color: #fff;
  padding: 20px 30px 40px 30px;
  overflow-y: auto;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE, Edge 対応 */
  scrollbar-width: none; /* Firefox 対応 */
  position: relative;
}

.modal_container_active::-webkit-scrollbar {
  /* Chrome, Safari 対応 */
  display: none;
}

.close_button_container {
  width: 100%;
  margin: 0 0 10px 0;
  text-align: right;
  height: 20px;
  display: flex;
  justify-content: flex-end;
}
.close_button {
  display: block;
  width: 20px; /*枠の大きさ*/
  height: 20px; /*枠の大きさ*/
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 10px;
}

.close_button::before,
.close_button::after {
  content: '';
  display: block;
  width: 18px; /*バツ線の長さ*/
  height: 2px; /*バツ線の太さ*/
  background: #999;
  transform: rotate(45deg);
  transform-origin: 0% 50%;
  position: absolute;
  top: 2px;
  left: 20%;
  cursor: pointer;
}

.close_button::after {
  transform: rotate(-45deg);
  transform-origin: 100% 50%;
  left: auto;
  right: 20%;
  cursor: pointer;
}

.modal_content {
  width: 100%;
  overflow: hidden;
}

.title {
  width: 100%;
  margin: 20px 0 30px 0;
  font-size: 1.6rem;
  font-weight: bold;
}

.text {
  width: 100%;
  margin: 0 0 30px 0;
  font-size: 1.4rem;
  color: #666;
  text-align: left;
}

.button {
  margin: 0;
  width: 100%;
  height: 40px;
  background-color: #68a9cf;
  border-radius: 5px;
  border: 0;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  cursor: pointer;
}

.link {
  margin: 0;
  width: 100%;
  height: 40px;
  font-size: 1.4rem;
  color: #fff;
  background-color: #f2c746;
  border-radius: 40px;
  border: #f2c746 1px solid;
  cursor: pointer;
}
