.header_container {
  width: 100%;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 0 0 1px 0 solid #ebe8e4;
  box-shadow: 0 0 0.3125rem 0 rgb(20 12 0 / 20%);
  z-index: 1;
}

.header {
  max-width: 800px;
  min-width: 320px;
  height: 60px;
  padding: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  text-align: right;
}

.logo_container {
  margin: 0 0 0 20px;
  min-width: 180px;
  height: 60px;
  text-align: left;
}
.logo {
  margin: 0;
  font-size: 27px;
  line-height: 60px;
  font-family: 'Montserrat', sans-serif;
  color: #333;
}

.login_sign_up_container {
  display: flex;
}
.login {
  width: 60px;
  font-size: 1rem;
  height: 60px;
  text-align: center;
  padding: 36px 0 0 0;
  position: relative;
  cursor: pointer;
}

.login span {
  display: block;
  content: '';
  position: absolute;
  top: 5px;
  left: 13px;
  width: 20px;
  height: 20px;
}
.login svg {
  width: 30px;
  height: 30px;
  fill: #000;
}

.sign_up {
  width: 60px;
  font-size: 1rem;
  height: 60px;
  text-align: center;
  padding: 36px 0 0 0;
  position: relative;
  cursor: pointer;
}

.sign_up span {
  display: block;
  content: '';
  position: absolute;
  top: 5px;
  left: 13px;
  width: 20px;
  height: 20px;
}
.sign_up svg {
  width: 30px;
  height: 30px;
  fill: #000;
}
