.header_container {
  width: 100%;
  margin: 0;
  background-color: #fff;
  border-bottom: #ccc 1px solid;
}

.header {
  max-width: 800px;
  min-width: 320px;
  height: 60px;
  padding: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  text-align: right;
}

.logo_container {
  margin: 0 0 0 20px;
  white-space: nowrap;
  height: 60px;
  text-align: left;
}
.logo {
  margin: 0;
  font-size: 24px;
  line-height: 60px;
  font-family: 'Montserrat', sans-serif;
  color: #000;
}

.logo span {
  color: #68a9cf;
}

.login_button {
  margin: 0 20px 0 0;
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  background-color: #68a9cf;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
}
