.header_container {
  width: 100%;
  margin: 0;
  background-color: #fff;
  border-bottom: #ccc 1px solid;
}

.header {
  max-width: 800px;
  min-width: 320px;
  height: 60px;
  padding: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  text-align: right;
}

.logo_container {
  margin: 0 0 0 20px;
  min-width: 180px;
  height: 60px;
  text-align: left;
}
.logo {
  margin: 0;
  font-size: 24px;
  line-height: 60px;
  font-family: 'Montserrat', sans-serif;
  color: #000;
}

.logo span {
  color: #68a9cf;
}

.login_sign_up_container {
  margin: 0 20px 0 0;
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  background-color: #68a9cf;
  color: #fff;
  border-radius: 30px;
}
.login {
  width: 60px;
  font-size: 1rem;
  height: 60px;
  text-align: center;
  padding: 36px 0 0 0;
  position: relative;
  cursor: pointer;
}

.login span {
  display: block;
  content: '';
  position: absolute;
  top: 5px;
  left: 13px;
  width: 20px;
  height: 20px;
}
.login svg {
  width: 30px;
  height: 30px;
  fill: #000;
}

.sign_up {
  width: 60px;
  font-size: 1rem;
  height: 60px;
  text-align: center;
  padding: 36px 0 0 0;
  position: relative;
  cursor: pointer;
}

.sign_up span {
  display: block;
  content: '';
  position: absolute;
  top: 5px;
  left: 13px;
  width: 20px;
  height: 20px;
}
.sign_up svg {
  width: 30px;
  height: 30px;
  fill: #000;
}
