.main {
  max-width: 840px;
  min-width: 320px;
  margin: 80px auto 0 auto;
}

.main2 {
  max-width: 840px;
  min-width: 320px;
  margin: 50px auto 0 auto;
}

.wrapper_white {
  width: 100%;
}
.wrapper_glay {
  width: 100%;
  background-color: #f1f1f1;
  /* background-color: #faf9f7; */
  padding: 10px 0 60px 0;
  margin: 0;
}

.content_title {
  margin: 30px 0 55px 0;
  font-size: 24px;
  position: relative;
  text-align: center;
}

.content_title span:before {
  position: absolute;
  bottom: -20px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-radius: 3px;
  background: #68a9cf;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 320px;
  max-width: 100%;
  margin-top: 0;
  padding: 0 10px;
}

.new_event_border li:first-child {
  border: none;
}

.hot_event_border li:first-child {
  border: none;
}

.search_result_title {
  margin: 0 0 30px 0;
  width: 100%;
  text-align: center;
  padding: 0 20px;
  font-size: 1.8rem;
  font-weight: bold;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #68a9cf;
  font-size: 11px;
  text-indent: -99999em;
  margin: 150px auto 100px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #fff;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #fff;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 839px) {
  .grid {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .ul_event {
    margin: 0;
    padding: 0;
  }

  .li_event {
    margin: 0 0 40px 0;
    padding: 0;
    text-align: left;
    color: inherit;
    text-decoration: none;
    /* border: 1px solid #eaeaea; */
    /* border-radius: 5px; */
    width: 100% !important;
    height: auto !important;
    background-color: #fff;
    transition: all 0.2s;
    font-size: 1.4rem;
    position: relative;
    /* box-shadow: 0 1px 4px rgb(0 0 0 / 10%); */
    border-radius: 10px;
    /* opacity: 0;
    visibility: hidden; */
    /* box-shadow: 0 0 6px rgb(0 0 0 / 20%); */
    /* border: 1px solid #ccc; */
  }
}
@media screen and (min-width: 840px) {
  .grid {
    min-width: 320px;
    width: 840px;
    padding: 0;
    margin: 0 auto;
  }

  .ul_event {
    margin: 0;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .li_event {
    margin: 0 0 40px 0;
    padding: 0;
    text-align: left;
    color: inherit;
    text-decoration: none;
    /* border: 1px solid #eaeaea; */
    /* border-radius: 5px; */
    width: 400px !important;
    height: auto !important;
    background-color: #fff;
    transition: all 0.5s;
    font-size: 1.4rem;
    position: relative;
    /* box-shadow: 0 1px 4px rgb(0 0 0 / 10%); */
    border-radius: 10px;
    opacity: 1;
    /* opacity: 0;
    visibility: hidden; */
  }
  .li_event_active {
    margin: 0 0 20px 0;
    padding: 0;
    text-align: left;
    color: inherit;
    text-decoration: none;
    /* border: 1px solid #eaeaea; */
    /* border-radius: 5px; */
    min-width: 320px;
    max-width: 400px !important;
    height: auto !important;
    background-color: #fff;
    transition: all 0.5s;
    font-size: 1.4rem;
    position: relative;
    /* box-shadow: 0 1px 4px rgb(0 0 0 / 10%); */
    border-radius: 10px;
    opacity: 1;
    /* opacity: 0;
    visibility: hidden; */
  }
}

.li_event a {
  display: block;
  width: 100%;
  padding: 0 30px 0 0;
}

.li_event_padding {
  margin: 0;
  padding: 15px 10px 15px 15px;
}

.li_event.is_show {
  opacity: 1;
  visibility: visible;
}

.li_event::before {
  content: '';
  width: 8px;
  height: 8px;
  border: 0;
  border-top: solid 2px #68a9cf;
  border-right: solid 2px #68a9cf;
  position: absolute;
  top: 50%;
  right: 18px;
  margin-top: -4px;
  transform: rotate(45deg);
  transition: all 0.7s;
  cursor: pointer;
}

.li_event_line {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid #eaeaea;
  width: 100%;
  margin: 10px 0;
}

.contents_title {
  margin: 0;
  padding: 0;
}
.event_date {
  margin: 0;
  padding: 10px 0 0 0;
  font-size: 1.2rem;
}

.event_title {
  margin: 10px 0 0 0;
  line-height: 20px;
}

.no_search_result_container {
  margin: 40px auto 30px auto;
  min-width: 300px;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  font-size: 1.6rem;
  line-height: 3.2rem;
}

.pagination_container {
  width: 100%;
  /* background-color: red; */
}

.pagination_container ul {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
}

.pagination_current {
  margin: 0 5px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #ccc;
  border-radius: 40px;
  color: #fff;
  font-size: 1.6rem;
}

.pagination_link {
  margin: 0 5px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  border-radius: 40px;
  font-size: 1.6rem;
  color: #68a9cf;
}
