.card {
  margin: 0 10px 20px 10px;
  padding: 5px 10px;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  min-width: 300px;
  max-width: 850px;
  background-color: #fff;
  transition: all 0.3s;
}

.card:hover {
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.1));
}
.new_event_border li:first-child {
  border: none;
}

.hot_event_border li:first-child {
  border: none;
}

/* .card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
} */
.card li {
  list-style: none;
  line-height: 1.5;
  margin: 0;
  padding: 10px 0;
  border-top: 1px solid #ccc;
  font-size: 1.4rem;
  position: relative;
}

.card li span::before {
  content: '';
  width: 6px;
  height: 6px;
  border: 0;
  border-top: solid 3px #68a9cf;
  border-right: solid 3px #68a9cf;
  position: absolute;
  top: 50%;
  right: 14px;
  margin-top: -4px;
  transform: rotate(45deg);
  transition: all 0.7s;
  cursor: pointer;
}

.card li a {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0 30px 0 10px;
}

.card li:first-child {
  border: none;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
  text-align: center;
  color: #68a9cf;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.card a:hover,
.card a:focus,
.card a:active {
  color: #68a9cf;
}

.search_result_title {
  margin: 0 0 20px 0;
  width: 100%;
  text-align: center;
  padding: 0 20px;
  font-size: 1.8rem;
  font-weight: bold;
}
