.overlay,
.overlay_active {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: default;
}

.overlay {
  opacity: 0;
  visibility: hidden;
}

.overlay_active {
  opacity: 1;
  visibility: visible;
}

.spinner {
  width: 50px; /* サイズ - 可変 */
  height: 20px; /* サイズ - 可変 */
  margin: 0 auto; /* 上下マージン - 可変 */
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #fff; /* ベースの色 - 可変 */
  height: 100%;
  width: 3px;
  margin: 0 3px 0 0;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
